<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
{% load i18n %}

    <a href="{{ request.GET.next }}">
      {% trans "back" %}
    </a>
  {% if form.non_field_errors %}
      <ul>
      {% for error in form.non_field_errors %}
        <li>• {{ error }}</li>
      {% endfor %}
      </ul>
  {% endif %}
  {% if 'inactive' in form.errors.as_json %}
  <a href="{% url 'resend_activation' %}"name="action">
      <input type="submit" name="login" value="{% trans 'Re-send activation email' %}">
  </a>
  {% endif %}
  <h3>Fazer Login</h3>
      <form name="login" action="{% url 'widget_login' %}?next={{ request.GET.next }}" method="POST">
        {% csrf_token %}
        {% if form.username.errors %}
          <label for="username">• {% trans "Email is a necessary field" %}</label>
        {% endif %}
        <input type="username" name="username" placeholder="{% trans 'Email' %}">
        {% if form.password.errors %}
          <label for="password">• {% trans "Password is a necessary field" %}</label>
        {% endif %}
        <input type="password" name="password" placeholder="{% trans 'Password' %}">
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <input type="submit" name="login" value="{% trans 'Log in' %}">
      </form>
  <h3>Criar conta</h3>
      <form  name="signup" action="{% url 'widget_signup' %}?next={{ request.GET.next }}" method="POST">
        {% csrf_token %}
        <input  type="first-name" name="first_name" placeholder="{% trans 'First name' %}">
        <input type="last-name" name="last_name" placeholder="{% trans 'Last name' %}">
        {% if form.email.errors %}
          <label for="email">• {% trans "Email is a necessary field" %}</label>
        {% endif %}
        <input type="email" name="email" placeholder="{% trans 'Email' %}">
        {% if form.password1.errors %}
          <label for="password1">• {% trans "Password is a necessary field" %}</label>
        {% endif %}
        <input type="password" name="password1" placeholder="{% trans 'Password' %}">
        {% if form.password2.errors %}
          <label for="password2">• {% trans "Confirm Password is a necessary field" %}</label>
        {% endif %}
        <input type="password" name="password2" placeholder="{% trans 'Confirm your password' %}">
        <input type="submit" name="signup" value="{% trans 'Sign Up' %}">
      </form>
</body>
</html>