{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    <div class="row intro">
        <div class="col s12 m12 valign-wrapper authentication">
            <div class="row">
                <div class="logo">
                    {% include "_logo.html" %}
                </div>

                <form class="col s6 offset-s3" action="./" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col s12">
                            {{ form }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                {% trans "Log in" %} <i class="material-icons">send</i>
                            </button>
                            {% trans "ou" %} <a href="{% url "signup" %}">{% trans "Register account" %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}