{% extends "base_with_sidebar.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content2 %}
    <p>{% trans "Please check your email to complete the registration process." %}</p>
    <p><a class="waves-effect waves-light btn right-align" href="{% url "index" %}"><i class="material-icons left">back</i>{% trans "Back to main page" %}</a></p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
