{% load static compress %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrameta %}
    {% endblock %}
    <title>{% block title %}Wikilegis{% endblock %}</title>

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="{% static "sass/style.scss" %}"  media="screen,projection"/>
    {% endcompress %}
</head>

<body>
    {% block content %}

    {% endblock content %}

    {% include "footer.html" %}



    {% block bottom_scripts %}
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>
        {% compress js %}
            <script type="text/javascript" src="{% static "js/jquery-2.1.4.js" %}"></script>
            <script type="text/javascript" src="{% static "js/ga.js" %}"></script>
            <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
            <script type="text/javascript" src="{% static "js/diff.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/lodash.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/css3-animate-it.js" %}"></script>
            <script type="text/javascript" src="{% static "js/olark.js" %}"></script>
            <script type="text/javascript" src="{% static "js/addthis.js" %}"></script>
            <script type="text/javascript" src="{% static "js/clipboard.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
        {% endcompress %}

        {% if messages %}
        <script type="text/javascript">
            {% comment %}
            FIXME This is a utterly idiotic way to handle messages.

            Here's why:

                * What if there is no JS available?

                * What if the user is browsing another tab and the toasts go away? (3000ms of duration)

                * No color.

                * Toasts in web browsers suck. We are not Google. This isn't Inbox.

                * It isn't even working.
            {% endcomment %}
            $.ready(function() {
                {% for message in messages %}
                    Materialize.toast("{% if message.tags %}{{ message.tags }}: {% endif %}{{ message }}", 3000);
                {% endfor %}
            });
        </script>
        {% endif %}
    {% endblock %}

    {% block partialscript %}

    {% endblock %}

    <!-- begin olark no script code -->
    <noscript><a href="https://www.olark.com/site/1793-549-10-1318/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark no script code -->

</body>
</html>
