{% extends "base.html" %} {% load static %} {% load i18n %} {% load proposals %} {% block content %} {% include "_sidebar.html" %}


<div class="container cover animatedParent animateOnce" data-sequence='300'>
    <div class="row cover-content">
        <div class="col l3 m12 valign-wrapper animated fadeInLeftShort" data-id='1'>
            {% include "_sidebar_logo.html" %}
        </div>
        <div class="col l9 m12 valign-wrapper">
            <div class="cover-info animated fadeInRightShort" data-id='2'>
                <h1>{% trans "Your legislative editing tool" %}</h1>
                <p class="desc">{% trans "Check the bills and contribute suggestions of new wordings to articles or paragraphs. The rapporteurs of the bills track the participation and can take up your idea!" %}</p>
                <p class="desc">{% trans "With this interaction, society profits by participating more actively in the legislative process, and the Parliament profits by approving improved laws that are better attuned to citizens’ needs." %}</p>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="login-or-signup animated fadeInDown" data-id='3'>
            <a href="{% url 'auth_login' %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url 'registration_register' %}">{% trans "sign in" %}</a>
        </div>
    </div>
    {% endif %}
    <div class="see-projects animated fadeInUpShort" data-id='4'>
        <div class="chevron">
            <i class="material-icons">expand_more</i>
        </div>
    </div>
</div>



<div class="row projects" id="projects">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h2 class="title">{% if request.GET.status = 'closed' %}{% trans "Closed Bills" %}{% else %}{% trans "Bills" %}{% endif %}</h2>
            </div>
            <div class="col s12 m6">
                <ul class="filter">
                    {% for item in orderer.choices %}
                    <li><a {% if item.selected %} class="active" {% endif %} href="{{ item.query_string }}#projects">{{ item.display }}</a>
                    </li><span class="divider">|</span> {% endfor %}
                </ul>
                <ul class="filter">
                    <li><a {% if request.GET.status != 'closed' %} class="active" {% endif %} href="{% url 'index' %}?status=published#projects">{% trans "Open" %}</a>
                    </li><span class="divider">|</span>
                    <li><a {% if request.GET.status = 'closed' %} class="active" {% endif %} href="{% url 'index' %}?status=closed#projects">{% trans "Closed" %}</a>
                </ul>
            </div>
        </div>
        <div class="pls">
            {% for bill in bills %}
            <a class="hover" href="{% url 'show_bill' bill.id %}">
                <div class="pl row valign-wrapper">
                    <div class="col m2 hide-on-med-and-down">
                        <div class="circle {% if bill.status = 'closed' %}border-red{% endif %} valign-wrapper">
                            <img class="logo" src="{% static 'img/icons/' %}{{ bill.theme }}{% if bill.status = 'closed' %}-2{% endif %}.png" alt="{{ bill.get_theme_display }}" title="{{ bill.get_theme_display }}"/>
                        </div>
                    </div>
                    <div class="col s12 m10 description">
                        <div class="row">
                            <h5 class="title">{{ bill.title }}</h5>
                            <p class="d">{{ bill.description|linebreaks|truncatechars:205 }}</p>
                            <span class="pl-created-date">{% trans "Created at" %} {{ bill.created|date }}</span>
                        </div>                        
                        <div class="row">
                            {% if bill.proposition_set.all.0.situation %}
                            <div class="col s12 status">
                                <span class="title">{% trans "Status" %} </span><span class="status-content">{{ bill.proposition_set.all.0.situation }}</span>
                            </div>
                            {% else %}
                            <div class="col s12"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s12 m2 prop-count">
                        {% if bill.score > 0 %}
                            <h4>{{ bill.score }}</h4>
                            <span>{% if bill.score > 1 %}{% trans "Proposals" %}{% else %}{% trans "Proposal" %}{% endif %}</span>
                        {% else %}
                            {% if bill.status = 'closed' %}
                            <div class="add-prop-cta">
                                <span>{% trans "No proposals" %}</span>
                            </div>
                            {% else %}
                            <div class="add-prop-cta">
                                <span>{% trans "No proposals" %}</span>
                                <div>{% trans "Participate" %}!</div>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </a>
            {% empty %} 
            <div class="pl row valign-wrapper">
                <div class="col s12 m10 description">
                    <div class="row">
                        <h5 class="title">{% trans "No bills" %}</h5>
                    </div>                        
                </div>
            </div>            
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}