{% extends "bill/_base.html" %}

{% load static %}
{% load i18n %}
{% block content %}

    <div class="col m12 pl-full">
    <h4>Bill : {{ bill }}</h4>
    <hr>
    {% if amendments %}
        <h2>Alterações novas</h2>
        {% for segment, amendment in amendments.items %}
            <h3>Segment : {{ segment }}</h3>
            <h5>{{ amendment|length }} sugestões para alteração</h5>
            {% for obeject in amendment %}
                <h5>{{ obeject.content|safe }}</h5>
                <hr>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% if comments %}
        <h2>Comentários novos</h2>
        {% for key, value_list in comments.items %}
            <h5>Segment : {{ key|safe }} - {{ value_list|length }} comentários</h5>
            {% for comment in value_list %}
                <h4>{{ comment }}</h4>
            {% endfor %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}