beautifulsoup4==4.6.3
certifi==2022.12.7
chardet==3.0.4
Click==7.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==1.11.17
django-appconf==1.0.2
django-autofixture==0.12.1
django-bower==5.2.0
django-compressor==2.2
django-compressor-toolkit==0.6.0
django-constance==2.3.1
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-embed-video==1.2.0
django-picklefield==1.1.0
django-tastypie==0.14.2
idna==2.7
mock==2.0.0
oauthlib==2.1.0
pbr==5.1.1
Pillow==5.3.0
PyJWT==1.6.4
python-dateutil==2.7.5
python-decouple==3.1
python-mimeparse==1.6.0
python3-openid==3.1.0
pytz==2018.7
rcssmin==1.0.6
requests==2.20.1
requests-oauthlib==1.0.0
rjsmin==1.0.12
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==2.0.0
sqlparse==0.2.4
urllib3==1.24.1