Django==1.8.4
django-admin-sortable2==0.5.2
django-appconf==1.0.1
django-compressor==1.5
django-contrib-comments==1.6.1
django-debug-toolbar==1.3.2
django-extensions==1.5.7
django-haystack==2.4.0
django-libsass==0.4
django-registration-redux==1.2
futures==3.0.3
libsass==0.8.3
pytz==2015.6
rules==0.4
six==1.9.0
sqlparse==0.1.16
Whoosh==2.7.0
