.wikilegis {
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.wikilegis__error-no-mobile {
  align-items: center;
  background-color: #1e3434;
  bottom: 0;
  color: white;
  display: none;
  flex-direction: column;
  font-size: 0.8em;
  justify-content: center;
  left: 0;
  margin: auto;
  overflow: auto;
  padding: 2em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10;

  @media screen and (max-width: 960px) {
    display: flex;
  }
}

[class^="error-no-mobile__message-wrapper"] {
  display: none;
  flex-direction: column;
}


.error-no-mobile__message-wrapper--mobile {
  html.touchevents & {
    @media screen and (max-width: 960px) {
      display: flex;
    }
  }
}

.error-no-mobile__message-wrapper--desktop {
  html.no-touchevents & {
    @media screen and (max-width: 960px) {
      display: flex;
    }
  }
}

.error-no-mobile__image {
  height: 10em;
}