.diff-added {
  background-color: hsla(150, 65%, 80%, 1);
  color: hsla(0, 0%, 0%, .75);
  font-weight: 700;
}

.diff-removed {
  color: $color-actions-remove;
  font-weight: 600;
  text-decoration: line-through;
}
