@import "materialize";
@import "animations";
$maingreen: #324545;
$green: #7baf66;
$logogreen: #7AD07E;
$yellow: rgb(252,
250,
96);
$blue: #889FFC;
$rbcolor: #748CA0;
$lightgray: #F7FDF1;
$fkingrey: #E0E0E0;
$gray: #3e3e3e;
$medgrey: #767873;
$downvote_color: #e24747;
$upvote_color: #35ae43;
$a_color: #6775a6;
$countcolor: rgb(185, 102, 53);
.material-icons.md-36 {
    font-size: 36px;
}

html {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

html,
body {
    max-height: 100%;
}

a {
    color: $a_color;
}

$nav-height: 56px;
body {
    font-family: 'Open Sans', sans-serif;
    background-color: $lightgray;
    background-image: url(static("img/bg.png"));
    padding-top: $nav-height;
    background-attachment: fixed;
}

.row.main {
    background-color: $lightgray;
    min-height: 100vh;
    padding-top: 20px;
    margin-bottom: -20px;
}

.wiki-navbar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: $nav-height;
    padding: 5px;
    color: white;
    line-height: 47px;
    background: transparent;
    box-shadow: 0px 0px 0px;
    .menu-trigger {
        text-align: right;
        i {
            font-size: 2.3em;
        }
    }
    .opened-menu {
        margin-top: -20px;
        .language-selector, .current-user {
            float: none;
        }
        #language {
            margin-left: auto;
            margin-right: auto;
        }
        .col {
            text-align: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    i.signout {
        opacity: .7;
        font-size: 1.3em;
    }
    i {
        vertical-align: middle;
        margin-right: 5px;
        opacity: .7;
    }
    .logo {
        margin-left: 10px;
        line-height: 68px;
        visibility: hidden;
        img {
            height: 35px;
        }
    }
    &.fixed-top {
        position: fixed;
        display: fixed;
        background-color: $maingreen;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        .logo {
            visibility: visible;
        }
    }
    .searchSidebar {
        margin-top: 5px;
        nav {
            height: 35px;
            padding: 0 !important;
            background: transparent;
            box-shadow: 0px 0px 0px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.7);
            input {
                line-height: 2em !important;
                color: white;
                border-radius: 25px;
                font-size: 1.1em;
                padding-top: 2px;
                padding-left: 2.6em !important;
            }
            label {
                left: 0.6rem !important;
                i.material-icons {
                    color: white;
                    font-size: 2em;
                    line-height: 1.3em;
                }
            }
            .input-field {
                input[type=search]:focus {
                    background-color: transparent;
                    border: 0;
                    box-shadow: none;
                    color: white;
                }
            }
        }
    }
}

img.logo {
    width: 100%;
    max-width: 300px;
    @media screen and (max-width: 992px) {
        max-width: 200px;
    }
}

.cover {
    position: relative;
    @media screen and (max-width: 992px) {
        padding-top: 50px;
    }
    padding-top: 150px;
    height: 100%;
    @media screen and (max-width: 992px) {
        height: auto;
    }
    min-height: 93vh;
    .cover-content {
        @media screen and (max-width: 992px) {
            height: auto;
        }
        height: 300px;
        .col {
            height: 100%;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }
    }
    .cover-info {
        @media screen and (max-width: 992px) {
            border-left: 0px;
            margin-left: 0px;
            padding-left: 0px;
            text-align: center;
        }
        border-left: 3px solid rgba(255,
        255,
        255,
        0.7);
        margin-left: 50px;
        padding-left: 50px;
        h1 {
            color: white;
            font-weight: bold;
            font-size: 4rem;
        }
        .desc {
            font-size: 1.5rem;
            color: white;
            opacity: .5;
        }
    }
    .login-or-signup {
        @media screen and (max-width: 992px) {
            margin-top: 50px;
        }
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid rgba(255,
        255,
        255,
        0.7);
        background-color: transparent;
        border-radius: 40px;
        width: 350px;
        height: 55px;
        padding: 10px;
        color: white;
        text-align: center;
        font-size: 1.4em;
        font-weight: 600;
        a {
            color: inherit;
            opacity: .6;
            &:hover {
                opacity: 1;
            }
        }
    }
    .see-projects {
        @media screen and (max-width: 992px) {
            position: relative;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        position: absolute;
        cursor: pointer;
        width: 100%;
        bottom: 20px;
        text-align: center;
        font-size: 1.3em;
        color: white;
        svg {
            path {
                fill: $logogreen;
            }
        }
    }
}

strong {
    font-weight: 600;
}

.projects {
    h2.title {
        font-weight: bold;
        color: lighten(black, 25%);
    }
    ul.filter {
        float: right;
        font-size: 1.5em;
        font-weight: 600;
        .divider {
            color: lighten(black, 70%);
            background: transparent;
            &:last-child {
                display: none;
            }
        }
        a {
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            color: lighten(black, 40%);
            &:hover {
                color: lighten(black, 25%);
            }
            &.active {
                color: $logogreen;
            }
        }
        li {
            display: inline-block
        }
    }
    background-color: $lightgray;
    background-image: url(static("img/etpat.png"));
    min-height: 100vh;
    margin-bottom: -20px;
    padding-top: $nav-height;
    .container {
        margin-top: 50px;
    }
}

.buttonsShareProjetc {
    margin-bottom: 0;
    align-self: flex-end;
    margin-top: 30px;
    .description {
        width: 70%;
        margin: 0 auto 10px auto;
        font-size: 0.8em;
        line-height: 1.2em;
        color: #7fafaf;
    }
}

.circle {
    text-align: center;
    border: 5px solid #28D27A;
    height: 100px;
    width: 100px;
    padding: .7em;
    svg {
        margin-left: auto;
        margin-right: auto;
    }
}

.pls {
    position: relative;
    a {
        color: inherit;
    }
    .pl {
        @media screen and (max-width: 992px) {
            padding-left: 40px;
            padding-right: 40px;
        }
        @media screen and (max-width: 600px) {
            display: block !important;
            .valign-wrapper {
                display: block !important;
            }
            .users {
                margin-top: 10px;
            }
        }
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px;
        background-color: white;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        .icon {
            width: 90px;
        }
        .circle {
            margin-left: auto;
            margin-right: auto;
        }
        .description {
            padding-left: 10px;
            padding-right: 10px;
            font-weight: 600;
            p {
                color: lighten(black, 30%);
                max-width: 840px;
            }
            h5 {
                font-weight: 700;
                max-width: 840px;
            }
            .status {
                color: lighten(black, 50%);
                font-weight: normal;
                padding: 3px 10px 3px 10px;
                border-left: 3px solid #28D17A;
                .title {
                    font-weight: bold;
                }
            }
            .row {
                margin-bottom: 0px;
            }
            .users {
                text-align: right;
                font-size: .8em;
                font-weight: normal;
                opacity: .8;
                .dep {
                    font-weight: bold;
                    color: $a_color;
                }
            }
        }
        .prop-count {
            @media screen and (max-width: 600px) {
                margin-top: 20px;
            }
            text-align: center;
            h4 {
                font-weight: bold;
                color: rgb(185, 102, 53);
                margin: 0 0 .4rem 0;
            }
            span {
                font-weight: 600;
            }
        }
        &:hover {
            background-color: white;
            -webkit-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
        }
    }
}

.cont {
    max-width: 960px;
}

.pl-description {
    margin-top: 20px;
    font-size: 1.2em;
    @media screen and (max-width: 600px) {
        height: auto;
        padding-bottom: 50px !important;
    }
    .pl-about {
        a {
            color: inherit;
            p {
               font-weight: normal;
            }
            
        }
    }
    .pl-info {
        .item {
            margin-right: 20px;
        }
        margin-top: 20px;
        margin-bottom: 20px;
        color: $medgrey;
        .pl-status {
            color: $rbcolor;
            font-weight: 600;
        }
        .users-count, .prop-count {
            color: $countcolor;
            font-weight: 600;
        }
    }
    .pl-title {
        font-weight: 700;
        color: $gray;
    }
    p {
        opacity: .65;
        font-weight: 600;
    }
    .circle {
        width: 70px;
        height: 70px;
    }
    &.back {
        .circle {
            svg {
                opacity: .5;
                margin-left: -5px;
            }
        }
    }
    .pl-author {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        .avatar {
            width: 70px;
            height: 70px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .info {
            height: auto;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 100px;
            opacity: .65;
            font-weight: 600;
            padding-left: 20px;
            .author {
                font-weight: 700;
            }
            .party {
                opacity: .5;
            }
        }
    }
    .data {
        line-height: 2.5em;
        opacity: .65;
        font-weight: 600;
        margin-top: 20px;
        .number {
            color: $green;
            font-weight: 700;
        }
        i {
            margin-right: 10px;
        }
    }
}

.list-amendment {
    h1, h2, h3, h4, h5, h6 {
        margin-left: 70px;
        font-weight: 600;
    }
    .sub {
        color: $medgrey;
    }
    margin-top: 50px !important;
    .syllabus {
        opacity: .85;
        margin-top: 20px;
        @media screen and (max-width: 600px) {
            padding-left: 83px;
        }
    }
}

.pl-full {
    a.bill-link {
        color: inherit;
    }
    position: relative;
    /*    padding-left: 30px !important;
    padding-right: 30px !important;*/
    
    @media screen and (max-width: 600px) {
        overflow: inherit;
    }    
    .articles-header {
        padding: 20px;
        svg {
            opacity: .5;
            float: left;
            margin-right: 20px;
        }
        h5 {
            font-weight: bold;
            opacity: .6;
            @media screen and (max-width: 400px) {
                font-size: 1.8em;
            }
        }
        h6 {
            opacity: .6;
            font-weight: bold;
        }
    }
    .pl-head {
        margin-top: 50px;
    }
    .article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        .content {
            max-width: 840px;
        }
        .comments-counter {
            height: auto;
            width: 60px;
            .cn {
                text-align: center;
                background-image: url(static("img/comments.png"));
                background-repeat: no-repeat;
                background-position: center;
                background-position-x: center;
                height: 28px;
            }
        }
    }
    .content {
        height: auto;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 200px;
        padding: 10px;
        font-size: 1.1em;
        &:hover {
            background-color: white;
            -webkit-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
        }
    }
}

.article-number {
    font-weight: 700;
    margin-right: 10px;
}

.main-nav {
    background-color: $maingreen;
}

.pl-description.back {
    width: 100%;
    margin-bottom: 20px;
}

.tabs {
    background-color: transparent;
    margin-top: 30px;
}

.tabs-content {
    margin-top: 30px;
}

.proposal {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    .avatr {
        padding-right: 15px;
        border-right: 1px solid #DEDEDE;
        .pic {
            width: 70px;
            height: 70px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .content {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 300px;
        padding-left: 20px;
        p {
            @extend .flow-text;
        }
    }
    .author {
        font-weight: 600;
        opacity: .65;
    }
    .added {
        color: #5d9a44;
    }
    .deleted {
        color: #c13115;
        text-decoration: line-through;
    }
}

.nice-scroll {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 2px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #555;
    }
}

.list-amendment.nice-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

blockquote {
    border-color: #4CB96A
}

.authentication {
    .logo {
        width: 150px;
        margin: 20px auto 30px auto;
        img {
            width: 100%;
            height: 100%;
        }
        form input[type=text] {
            height: 1.3rem !important;
        }
    }
}

.errorlist {
    opacity: 1;
    color: $input-error-color;
    display: block;
    position: absolute;
    top: 65px;
    transition: .2s opacity ease-out, .2s color ease-out;
}

.pageSearch {
    margin-top: 50px;
    h5 {
        font-size: 1.5em;
        margin: 30px 0 0 0;
        &:nth-child(2) {
            margin: 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    .content {
        padding: 20px 0 0 20px;
    }
    .results {
        margin-top: 40px;
        p {
            margin: 0;
            color: #3e3e3e;
            .highlighted {
                font-weight: 600;
            }
        }
    }
}

.search {
    @media screen and (max-width: 600px) {
        i {
            margin-top: 15px;
        }
    }
    nav {
        padding: 0 !important;
        background: white;
        ;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 2px 2px 0 rgba(0, 0, 0, 0.02) !important;
        input {
            color: #444;
        }
        label i.material-icons {
            color: #444;
        }
    }
}

.current-user {
    float: right;
    a {
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
}

.card-buttonLogout {
    margin-top: -2px;
    a {
        color: white;
        text-decoration: underline;
        font-size: 0.8em;
        &:hover {
            text-decoration: none;
        }
    }
}

.intro .searchSidebar,
.intro .searchSidebar nav {
    margin-top: 0;
    margin-bottom: 0;
}

.pl-author {
    margin-left: 70px;
}

.avatr {
    padding-right: 15px;
    float: left;
    margin-top: -5px;
    .pic {
        width: 50px;
        height: 50px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.choose-button {
    opacity: .7;
    &:hover {
        opacity: 1;
    }
}

.dark-bg {
    height: 100%;
    width: 100%;
    margin-top: -15px;
    .mail-check-info {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
    }
}

.propose {
    margin-top: 40px;
}

.admin-acces {
    @media screen and (max-width: 600px) {
        left: 90%;
        bottom: 2px;
    }
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -35px;
    color: $logogreen;
    i {
        vertical-align: middle;
    }
}

.more-links {
    a {
        color: inherit;
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
    a:first-child {
        margin-right: 20px;
    }
    i {
        vertical-align: middle;
    }
}

.video-descripition {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-descripition iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about {
    color: white;
    p {
        opacity: .7;
    }
}

.language-selector {
    float: right;
    select {
        background-image: url(static("img/arrow.png"));
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
        background-size: 10px 8px;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border: 0;
        opacity: .7;
        border-radius: 0;
        width: auto;
        -webkit-appearance: none;
        padding-right: 15px;
        line-height: 20px;
        option {
            color: $maingreen;
            -webkit-appearance: none;
        }
    }
}

.show-more {
    padding-top: 5px;
    margin-left: 72px;
    color: #657DE8 !important;
    &:hover {
        color: #92A5F9 !important;
    }
}

$opacity: .4;
.layarticle {
    margin-top: 20px;
    position: relative;
    .votes {
        margin-top: 30px;
        padding-left: 10px;
        text-align: center;
        p {
            margin-top: 0px;
        }
        a {
            color: inherit;
        }
        .downvote {
            opacity: $opacity;
            p {
                opacity: $opacity;
            }
            svg {
                -ms-transform: rotate(180deg);
                /* IE 9 */
                
                -webkit-transform: rotate(180deg);
                /* Chrome, Safari, Opera */
                
                transform: rotate(180deg);
            }
            &.active {
                path {
                    fill: $downvote_color;
                }
                p {
                    opacity: 1;
                }
                opacity: 1;
                color: $downvote_color;
            }
        }
        .upvote {
            opacity: $opacity;
            p {
                opacity: $opacity;
            }
            &.active {
                path {
                    fill: $upvote_color;
                }
                p {
                    opacity: 1;
                }
                opacity: 1;
                color: $upvote_color;
            }
        }
    }
    .article-prop {
        max-width: 840px;
        font-size: 1.1em;
        font-weight: 400;
    }
}

.comments {
    margin-bottom: 20px;
    li {
        margin-bottom: 10px;
    }
    span.comment-submit-date {
        color: #A5A5A5;
    }
    .main {
        text-align: right;
        max-width: 840px;
        border-top: 1px solid $fkingrey;
        padding-left: 30px;
    }
    .submit {
        margin-top: 0px;
        font-weight: bold;
        input[type=submit] {
            background: none;
            border: none;
            color: $a_color;
            &:focus {
                outline: none;
            }
        }
    }
}

.after-bar {
    position: relative;
    min-height: 50px;
    margin-top: 30px;
    .col {
        padding-left: 0px;
    }
    max-width: 840px;
    .user {
        .user-name {
            word-break: break-all;
            font-weight: bold;
            font-size: 1.1em;
        }
        .date {
            margin-top: 0px;
            opacity: .4;
        }
    }
    .prop-btn {
        @media screen and (max-width: 992px) {
            margin-top: 20px;
        }
    }
}

.proposal-button {
    margin-top: 20px;
    div {
        text-align: center;
        line-height: 50px;
        width: 100%;
        height: 50px;
        font-weight: bold;
        background-color: #f0cfab;
        color: #6c5c4b;
        &:hover {
            background-color: darken(#f0cfab, 5%);
        }
    }
}

// Diff Style
.added {
    background-color: #d1e1ad;
    color: #405a04;
    font-weight: bold;
    opacity: .7;
}

.removed {
    color: #a82400;
    text-decoration: line-through;
    opacity: .4;
    margin-right: 5px;
}

.comment-textarea {
    margin-top: 20px;
    max-width: 780px;
    @media screen and (max-width: 600px) {
        max-width: 400px;
        label {
            margin-left: 0px;
        }
    }
    textarea {
        height: 1.5em;
        min-height: 1.5em;
        @media screen and (max-width: 600px) {
            padding: 10px 0px 10px 10px !important;
        }
        padding: 10px 15px !important;
        background-color: white;
        border: 1px solid $fkingrey !important;
        box-shadow: none !important;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: 0px !important;
            border-bottom: none;
        }
    }
}

.send-proposal {
    @media screen and (max-width: 600px) {
        .btn {
            width: 100%;
            margin-top: 5px;
        }
    }
    label {
        padding-top: 10px;
        padding-left: 15px;
        @media screen and (max-width: 600px) {
            margin-left: 0px !important;
        }
    }
    textarea,
    #preview-content {
        max-width: 840px;
        @media screen and (max-width: 600px) {
            margin-left: 0px !important;
        }
    }
    textarea {
        margin-top: 10px;
        height: 1.5em;
        min-height: 1.5em;
        @media screen and (max-width: 600px) {
            margin-left: 0px;
        }
        padding: 10px 15px !important;
        background-color: white;
        border: 1px solid $fkingrey !important;
        box-shadow: none !important;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: 0px !important;
            border-bottom: none;
        }
    }
    #preview {
        .input-field {
            margin-top: 0px;
            p {
                margin-top: 0px;
            }
        }
    }
    #preview-content {
        color: #868686;
        margin-left: 50px;
    }
    .comment-ammend {
        textarea {
            max-width: 790px;
        }
    }
    .send {
        @media screen and (max-width: 600px) {
            padding-left: 0px !important;
        }
        padding-left: 55px;
        max-width: 640px;
    }
}

.edit-profile {
    h5 {
        color: #3e3e3e;
    }
    span.clearable-file-input {
        display: block;
    }
    .input-field {
        margin-top: 2.1rem;
    }
    .picture {
        color: #9e9e9e;
        margin-left: 1%;
        label.active {
            top: 0.2rem;
            left: 0.15rem;
        }
        .clearable-file-input label {
            left: 0rem;
        }
    }
    button,
    input[type='text'] {
        margin-left: 1%;
    }
}

.show-profile {
    margin-top: 10px;
    img {
        float: left;
    }
    h3 {
        margin: 10px 0;
    }
}

.show-more {
    padding-top: 5px;
    margin-left: 72px;
    color: #657DE8 !important;
    &:hover {
        color: #92A5F9 !important;
    }
    label {
        padding-top: 10px;
        padding-left: 15px;
    }
    textarea,
    #preview-content {
        max-width: 840px;
    }
    textarea {
        margin-top: 10px;
        height: 1.5em;
        min-height: 1.5em;
        padding: 10px 15px !important;
        background-color: white;
        border: 1px solid $fkingrey !important;
        box-shadow: none !important;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: 0px !important;
            border-bottom: none;
        }
    }
    #preview {
        .input-field {
            margin-top: 0px;
            p {
                margin-top: 0px;
            }
        }
    }
    #preview-content {
        color: #868686;
        margin-left: 50px;
    }
    .comment-ammend {
        padding-left: 50px;
        textarea {
            max-width: 790px;
        }
    }
    .send {
        max-width: 640px;
    }
}

.filter-bills {
    margin: 10px 0 20px 0;
    select {
        width: 40%;
    }
    .dropdown-button {
        color: white !important;
    }
}

.dropdown-content {
    background-color: white;
    margin: 0;
    display: none;
    min-width: 300px;
    /* Changed this to accomodate content width */
    
    max-height: auto;
    overflow: hidden;
    /* Changed this from overflow-y:auto; to overflow:hidden; */
    
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}

.login,
.register {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    img.logo {
        max-width: 300px;
        margin-bottom: 50px;
    }
    .w-input {
        position: relative;
        margin-bottom: 10px;
        input {
            margin-top: 5px;
            padding-left: 10px;
            background-color: white !important;
            color: darkslategray;
        }
    }
    img {
        vertical-align: middle;
    }
    label {
        margin-bottom: 10px;
        color: #9e9e9e !important;
    }
    .wbtn {
        background: transparent;
        box-shadow: 0px 0px 0px;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        height: 40px;
        margin-top: 10px;
        width: 100%;
        &:hover {
            border: 1px solid rgba(255, 255, 255, 1);
        }
    }
}

//helpers
.center-align {
    margin-left: auto;
    margin-right: auto;
}