@import "materialize";
@import "animations";
$maingreen: #324545;
$green: #7baf66;
$logogreen: #7AD07E;
$yellow: rgb(252,250,96);
$blue: #889FFC;
$rbcolor: #748CA0;
$lightgray: #F7FDF1;
$fkingrey: #E0E0E0;
$gray: #3e3e3e;
$medgrey: #767873;
$downvote_color: #e24747;
$upvote_color: #35ae43;
$a_color: #6775a6;
$countcolor: rgb(185,102,53);

$unnamedcolor: #28D27A;

.material-icons.md-36 {
    font-size: 36px;
}

html {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

html,
body {
    max-height: 100%;
}

a {
    color: $a_color;
}

select {
    display: block;
}

$nav-height: 56px;
body {
    font-family: 'Open Sans', sans-serif;
    background-color: $lightgray;
    background-image: url(static("img/bg.png"));
    padding-top: $nav-height;
    background-attachment: fixed;
}

.row.main {
    background-color: $lightgray;
    min-height: 100vh;
    padding-top: 20px;
    margin-bottom: -20px;
}

.wiki-navbar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: $nav-height;
    padding: 5px;
    color: white;
    line-height: 47px;
    background: transparent;
    box-shadow: 0px 0px 0px;
    .menu-trigger {
        text-align: right;
        i {
            font-size: 2.3em;
        }
    }
    .opened-menu {
        margin-top: -20px;
        .language-selector, .current-user {
            float: none;
        }
        #language {
            margin-left: auto;
            margin-right: auto;
        }
        .col {
            text-align: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    i.signout {
        opacity: .7;
        font-size: 1.3em;
    }
    i {
        vertical-align: middle;
        margin-right: 5px;
        opacity: .7;
    }
    .logo {
        margin-left: 10px;
        line-height: 68px;
        visibility: hidden;
        img {
            height: 35px;
        }
    }
    &.fixed-top {
        position: fixed;
        display: fixed;
        background-color: $maingreen;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        .logo {
            visibility: visible;
        }
    }
    .search-bar {
        float: right;

        @media #{$medium-and-down} {
            float: left;
        }

        .searchSidebar {
            margin-top: 5px;
            nav {
                height: 35px;
                padding: 0 !important;
                background: transparent;
                box-shadow: 0px 0px 0px;
                border-bottom: 2px solid rgba(255, 255, 255, 0.7);
                input {
                    line-height: 2em !important;
                    color: white;
                    border-radius: 25px;
                    font-size: 1.1em;
                    padding-top: 2px;
                    padding-left: 2.6em !important;
                }
                label {
                    left: 0.6rem !important;
                    i.material-icons {
                        color: white;
                        font-size: 2em;
                        line-height: 1.3em;
                    }
                }
                .input-field {
                    input[type=search]:focus {
                        background-color: transparent;
                        border: 0;
                        box-shadow: none;
                        color: white;
                    }
                }
            }
        }
    }
}

img.logo {
    width: 100%;
    max-width: 275px;
    @media #{$medium-and-down} {
        max-width: 200px;
    }
}

.cover {
    position: relative;
    @media #{$medium-and-down} {
        padding-top: 50px;
    }
    @media (max-width: 1366px) {
        padding-top: 100px;
    }
    padding-top: 150px;
    height: 100%;
    @media #{$medium-and-down} {
        height: auto;
    }

    @media screen and (max-height: 790px) {
        height: auto;
    }

    min-height: 93vh;
    .cover-content {
        @media #{$medium-and-down} {
            height: auto;
        }
        height: 300px;
        .col {
            height: 100%;
            @media #{$medium-and-down} {
                width: 100%;
            }
        }
    }
    .cover-info {
        @media #{$medium-and-down} {
            border-left: 0px;
            margin-left: 0px;
            padding-left: 0px;
            text-align: center;
        }

        border-left: 3px solid rgba(255,
        255,
        255,
        0.7);
        margin-left: 50px;
        padding-left: 50px;
        h1 {
            color: white;
            font-weight: bold;
            font-size: 4rem;

            @media (max-width: 1366px) {
                font-size: 2.7rem;
            }
        }
        .desc {
            font-size: 1.35rem;
            color: white;
            opacity: .5;
            @media (max-width: 1366px) {
                font-size: 1.05rem;
            }
        }
    }
    .login-or-signup {
        @media #{$medium-and-down} {
            margin-top: 50px;
        }
        @media (max-width: 1366px) {
            margin-top: 0;
        }
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid rgba(255,
        255,
        255,
        0.7);
        background-color: transparent;
        border-radius: 40px;
        width: 350px;
        height: 55px;
        padding: 10px;
        color: white;
        text-align: center;
        font-size: 1.4em;
        font-weight: 600;
        a {
            color: inherit;
            opacity: .6;
            &:hover {
                opacity: 1;
            }
        }
    }
    .see-projects {
        @media #{$medium-and-down} {
            position: relative;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        position: absolute;
        cursor: pointer;
        width: 100%;
        bottom: 20px;
        text-align: center;
        font-size: 1.3em;
        color: white;

        .chevron {
            display: inline-block;
            width: 60px;
            height: 60px;
            border: 4px solid #7AD07E;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 8px rgba(121, 207, 125, 0) inset, 0 0 10px rgba(121, 207, 125, 0);
            transition: box-shadow 0.2s ease;

            > i {
                line-height: 52px;
                font-size: 40px;
                display: block;
                animation: goDown 2s cubic-bezier(.55,0,.1,1) infinite
            }

            @keyframes goDown {
                0% {transform:translateY(-100%)}
                25% {transform:translateY(0%)}
                80% {transform:translateY(0%)}
                100% {transform:translateY(100%)}
            }
        }

        &:hover .chevron {
            box-shadow: 0 0 8px rgba(121, 207, 125, 1) inset, 0 0 10px rgba(121, 207, 125, 1);
        }
    }
}

strong {
    font-weight: 600;
}

.projects {
    h2.title {
        font-weight: bold;
        color: lighten(black, 25%);
    }
    ul.filter {
        float: right;
        font-size: 1.5em;
        font-weight: 600;
        .divider {
            color: lighten(black, 70%);
            background: transparent;
            &:last-child {
                display: none;
            }
        }
        a {
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            color: lighten(black, 40%);
            &:hover {
                color: lighten(black, 25%);
            }
            &.active {
                color: $logogreen;
            }
        }
        li {
            display: inline-block
        }
    }
    background-color: $lightgray;
    background-image: url(static("img/etpat.png"));
    min-height: 100vh;
    margin-bottom: -20px;
    padding-top: $nav-height;
    .container {
        margin-top: 50px;
    }
}

.buttonsShareProjetc {
    margin-bottom: 0;
    align-self: flex-end;
    margin-top: 30px;
    .description {
        width: 70%;
        margin: 0 auto 10px auto;
        font-size: 0.8em;
        line-height: 1.2em;
        color: #7fafaf;
    }
}

.circle {
    text-align: center;
    border: 5px solid $unnamedcolor;
    height: 100px;
    width: 100px;
    padding: .7em;
    svg {
        margin-left: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.border-red {
    border: 5px solid #b0b0b0;
}

.add-prop-cta {
    max-width: 965px;
    border-radius: 3px;
    background-color: rgba(40, 210, 122, 0.15);
    text-align: center;
    padding: 10px;
    color: $unnamedcolor;
    font-weight: 600;
    span { font-size: .9em; }
    &.bill {
        background-color: $unnamedcolor;
        color:#fff;
        padding: 0 2rem;
        font-size: 1.3rem;
        i {
            font-size: 2rem;
        }
    }
    div {
        font-weight: bold;
        font-size: 1.5em;
        @media #{$medium-and-down} {
            font-size: 1em;
        }
        @media #{$small-and-down} {
            font-size: 1.5em;
        }
    }
}


.pls {
    position: relative;
    a {
        color: inherit;
    }
    .pl {
        @media #{$medium-and-down} {
            padding-left: 40px;
            padding-right: 40px;
        }
        @media #{$small-and-down} {
            display: block !important;
            .valign-wrapper {
                display: block !important;
            }
            .users {
                margin-top: 10px;
            }
        }
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px;
        background-color: white;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        .icon {
            width: 90px;
        }
        .circle {
            margin-left: auto;
            margin-right: auto;
        }
        .description {
            padding-left: 10px;
            padding-right: 10px;
            font-weight: 600;
            p {
                color: lighten(black, 30%);
                max-width: 840px;
                margin-bottom: 10px;

            }
            .pl-created-date {
                color: gray;
                font-weight: normal;
                opacity: .7;
            }
            h5 {
                font-weight: 700;
                max-width: 840px;
            }
            .status {
                margin-top: 10px;
                color: lighten(black, 50%);
                font-weight: normal;
                padding: 3px 10px 3px 10px;
                border-left: 3px solid #28D17A;
                .title {
                    font-weight: bold;
                }
            }
            .row {
                margin-bottom: 0px;
            }
            .users {
                text-align: right;
                font-size: .8em;
                font-weight: normal;
                opacity: .8;
                .dep {
                    font-weight: bold;
                    color: $a_color;
                }
            }
        }
        .prop-count {
            @media #{$small-and-down} {
                margin-top: 20px;
            }
            text-align: center;
            h4 {
                font-weight: bold;
                color: rgb(185, 102, 53);
                margin: 0 0 .4rem 0;
            }
            span {
                font-weight: 600;
            }
        }
        &:hover {
            background-color: white;
            -webkit-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
        }
    }
}

.cont {
    max-width: 960px;
}

.pl-title {
    font-weight: 700;
    color: $gray;

    &.closed {
        color: #b96635 !important;
    }
}

.circle {
        width: 70px;
        height: 70px;
        @media #{$medium-and-down} {
            width: 40px;
            height: 40px;
            padding: 0.4em;
            border-width: 2px;
        }
    }

.pl-description {
    margin-top: 20px;
    font-size: 1.2em;
    @media #{$small-and-down} {
        height: auto;
    }
    .p-uf {
        font-size: .8em;
        margin: 0px;
        opacity: .4;
    }
    .pl-about {
        a {
            color: inherit;
            p {
                font-weight: normal;
            }
        }
    }
    .pl-info {
        .item {
            margin: 10px 0;
            display: block;
        }
        .filter-proposals {
            cursor: pointer;
        }
        margin-bottom: 20px;
        color: $medgrey;
        .pl-subheading {
            font-weight: 600;
        }
        .pl-status {
            display: block;
            color: $rbcolor;
            font-weight: 600;
        }
        .users-count,
        .prop-count {
            color: $countcolor;
            font-weight: 600;
        }
    }
    .pl-title {
        font-weight: 700;
        color: $gray;
    }
    p {
        opacity: .65;
        font-weight: 600;
    }
    .circle {
        width: 70px;
        height: 70px;
    }
    &.back {
        .circle {
            svg {
                opacity: .5;
                margin-left: -5px;
            }
        }
    }
    .pl-author {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        .avatar {
            width: 70px;
            height: 70px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .info {
            height: auto;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 100px;
            opacity: .65;
            font-weight: 600;
            padding-left: 20px;
            .author {
                font-weight: 700;
            }
            .party {
                opacity: .5;
            }
        }
    }
    .data {
        line-height: 2.5em;
        opacity: .65;
        font-weight: 600;
        margin-top: 20px;
        .number {
            color: $green;
            font-weight: 700;
        }
        i {
            margin-right: 10px;
        }
    }

    .subscribe-header {
        background-color: $maingreen;
        color: white;
        border: none;
        height: auto;
        display: flex;
        > .header-text {
            padding: 0.45rem 0;
            line-height: 1.5rem;
        }
    }

    .subscribe-button {
        border: none;
    }

    .subscribe-body {
        background-color: #fff;
    }

    .subscribe-options {
        padding: 0 2rem 2rem;
    }

    .subscribe-body {
        font-size: 1rem;
        border: none;
    }

    .subscribe-submit {
        background-color: $unnamedcolor;
        color: white;
        width: 100%;
        border-radius: 0;
    }

    .subscribe-cancel {
        background-color: #748CA0;
        height: auto;
        border-radius: 0;
        line-height: 1.5rem;
        min-height: 3rem;
        display: flex;
        width: 100%;
        padding: 0.45rem 1rem;
        margin: 0.5rem 0 1rem 0;
        text-align: left;
        text-transform: none;
        color: white;
        > i {
            font-size: 1.6rem;
        }
    }

    .embed-code {
        word-break: break-all;
    }

    .votes-title {
      font-weight: 600;
      color: #6775a6;
    }

    .votes {
      display: flex;
      margin-bottom: 20px;
    }

    .votes a {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      margin-top: 0.5rem;
    }

    .votes a p {
      margin: 0 1rem;
    }

    .downvote svg {
      transform: rotate(180deg);
    }

    .votes a svg {
      width: 2rem;
      fill: #324545;
    }

}

.list-amendment {
    margin-bottom: 100px;

    .amendment-thead {
        min-height: 100px;
        background-image: url(static("img/brasao.png"));
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 20px;
        background-size: 100px;;
    }
    .amendment-title {
        text-align: center;
        margin-left: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-left: 60px;
        font-weight: 600;
    }
    .sub {
        color: $medgrey;
    }
    @media #{$medium-and-down} {
        padding-right: 20px;
    }

    .syllabus {
        opacity: .85;
        margin-top: 20px;
        margin-bottom: 20px;
        @media #{$small-and-down} {
            padding-left: 73px;
        }
    }
    .heading {

        &.secao, &.subsecao {
            text-transform: initial;
            font-weight: 700;
        }

        .heading-title {
            display: block;
            margin-top: 0.5rem;
        }
    }

    h5.heading {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 1.2rem;
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.5rem;
    }

    &.hide-empty > .col > .bill-link.no-proposal {
        display: none;
    }

}

.segments-before {
    margin-top: 20px;
    .bill-link {
        .article {
            opacity: .5;
            &:hover {
                opacity: 1;
            }
        }
        &:not(:first-child) {
            display: none;
        }
    }
    .show-more-segments {
        cursor: pointer;
        opacity: .7;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 60px;
        height: 30px;
        border: 1px solid lightgray;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 15px;
        &:hover {
            opacity: 1;
        }
        svg {
            margin-right: auto;
            margin-left: auto;
            margin-top: -3px;
        }
    }
    .article-content {
        padding: 10px;
        float: left;
         &:hover {
            background-color: transparent !important;
            -webkit-box-shadow: 0px 0px 0px !important;
            -moz-box-shadow: 0px 0px 0px !important;
            box-shadow: 0px 0px 0px !important;
        }
    }
}

.article-type {
    font-weight: bold;
}

.view-comments {
    opacity: .7;
    i {
       vertical-align:middle;
    }
    &:hover {
        opacity: 1;
    }
}

.add-segment-item {
    @media #{$small-and-down} {
        margin-top: 20px;
    }
    .asi-link {
        opacity: .8;
        cursor: pointer;
        font-weight: 600;
        color: $medgrey;
        &:hover {
            opacity: 1;
        }
        i {
           vertical-align:middle;
        }
    }
    .add-segment-form {
        max-width: 840px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        .segment-submit {
            width: 100px;
            height: 39px;
            margin-top: 3px;
            margin-left: -103px;
            @media #{$small-and-down} {
                width: 100%;
                margin-bottom: 20px;
                margin-left: 0px;
            }
            border: none;
            background-color: #E0E0E0;
            color: gray;
            font-weight: 600;
            &:focus { outline:0; }
            &:hover { background-color: darken(#E0E0E0, 3%); }
        }
        textarea {
            height: 100%;
            max-width: 840px;
            @media #{$small-and-down} {
                margin-left: 0px !important;
            }
        }
        textarea, input[type=text] {
            height: 1.5em;
            min-height: 1.5em;
            @media #{$small-and-down} {
                margin-left: 0px;
                padding: 10px 15px 10px 15px !important;
            }
            padding: 10px 115px 10px 15px !important;
            background-color: white;
            border: 1px solid $fkingrey !important;
            box-shadow: none !important;
            resize: none;
            &:focus {
                outline: none;
                box-shadow: 0px !important;
                border-bottom: none;
            }
        }
        .segment-type-option {
            cursor: pointer;
            width: 110px;
            @media #{$small-and-down} {
                width: 100%;
                margin-bottom: 10px;
            }
            border: 1px solid #E0E0E0;
        }
        .segment-content {
            margin-left: -1px;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 200px;
        }
        .cancel {
            opacity: .8;
            &:hover {
                opacity: 1;
            }
            width: 50px;
            height: 45px;
            @media #{$small-and-down} {
                height: auto;
                width: 100%;
                i {
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                }
                span {
                    margin-left: 5px;
                    font-weight: 600;
                }
            }
            text-align: center;
            color: $medgrey;
            cursor: pointer;
            i {
                vertical-align:middle;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.pl-full {
    a.bill-link {
        color: inherit;
    }

    position: relative;
    /*    padding-left: 30px !important;
    padding-right: 30px !important;*/

    @media #{$small-and-down} {
        overflow: inherit;
    }
    .articles-header {
        padding: 20px;
        svg {
            opacity: .5;
            float: left;
            margin-right: 20px;
        }
        h5 {
            font-weight: bold;
            opacity: .6;
            @media screen and (max-width: 400px) {
                font-size: 1.8em;
            }
        }
        h6 {
            opacity: .6;
            font-weight: bold;
        }
    }
    .pl-head {
        margin-top: 50px;
    }
    .article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        &.paragrafo {
            margin-left: 30px;
        }
        &.inciso {
            margin-left: 60px;
        }
        &.alinea {
            margin-left: 90px;
        }
        &.item {
            margin-left: 120px;
        }
        @media #{$medium-and-down} {
            &.paragrafo {
                margin-left: 10px;
            }
            &.inciso {
                margin-left: 20px;
            }
            &.alinea {
                margin-left: 30px;
            }
            &.item {
                margin-left: 40px;
            }
        }
        .comments-counter {
            height: auto;
            width: 50px;
            .cc-holder {
                position: relative;
                i {
                    font-size: 2.2em;
                    color: white;
                    text-shadow: 0px 0px 1px black;
                    position: relative;
                    z-index: 1;
                }
                .n {
                    color: gray;
                    position: relative;
                    margin-top: -37px;
                    @media #{$medium-and-down} {
                        margin-top: -34px;
                    }
                    z-index: 2;
                }
            }
            .cn {
                text-align: center;
                height: 28px;
            }
        }
    }
    .content {
        height: auto;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 200px;
        font-size: 1.1em;
        .article-content {
            padding: 10px;
            float: left;
            word-break: break-word;
             &:hover {
                background-color: white;
                -webkit-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.1);
            }
        }


    }

}

.article-number {
    font-weight: 700;
    margin-right: 10px;
}

.main-nav {
    background-color: $maingreen;
}

.pl-description.back {
    width: 100%;
    margin-bottom: 20px;
}

.tabs {
    background-color: transparent;
    margin-top: 30px;
}

.tabs-content {
    margin-top: 30px;
}

.proposal {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    .avatr {
        padding-right: 15px;
        border-right: 1px solid #DEDEDE;
        .pic {
            width: 70px;
            height: 70px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .content {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 300px;
        padding-left: 20px;
        p {
            @extend .flow-text;
        }
    }
    .author {
        font-weight: 600;
        opacity: .65;
    }
    .added {
        color: #5d9a44;
    }
    .deleted {
        color: #c13115;
        text-decoration: line-through;
    }
}

.nice-scroll {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 2px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #555;
    }
}

.list-amendment.nice-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

blockquote {
    border-color: #4CB96A
}

.authentication {
    .logo {
        width: 150px;
        margin: 20px auto 30px auto;
        img {
            width: 100%;
            height: 100%;
        }
        form input[type=text] {
            height: 1.3rem !important;
        }
    }
}

.errorlist {
    opacity: 1;
    color: $input-error-color;
    display: block;
    position: absolute;
    top: 65px;
    transition: .2s opacity ease-out, .2s color ease-out;
}

.pageSearch {
    margin-top: 50px;
    h5 {
        font-size: 1.5em;
        margin: 30px 0 0 0;
        &:nth-child(2) {
            margin: 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    .content {
        padding: 20px 0 0 20px;
    }
    .results {
        margin-top: 40px;
        p {
            margin: 0;
            color: #3e3e3e;
            .highlighted {
                font-weight: 600;
            }
        }
    }
}

.search {
    @media #{$small-and-down} {
        i {
            margin-top: 15px;
        }
    }
    nav {
        padding: 0 !important;
        background: white;
        ;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 2px 2px 0 rgba(0, 0, 0, 0.02) !important;
        input {
            color: #444;
        }
        label i.material-icons {
            color: #444;
        }
    }
}

.current-user {
    float: right;
    a {
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
}

.card-buttonLogout {
    margin-top: -2px;
    a {
        color: white;
        text-decoration: underline;
        font-size: 0.8em;
        &:hover {
            text-decoration: none;
        }
    }
}

.intro .searchSidebar,
.intro .searchSidebar nav {
    margin-top: 0;
    margin-bottom: 0;
}

.pl-author {
    margin-left: 70px;
}

.avatr {
    padding-right: 15px;
    float: left;
    margin-top: 2px;
    .pic {
        width: 50px;
        height: 50px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.choose-button {
    opacity: .7;
    &:hover {
        opacity: 1;
    }
}

.dark-bg {
    height: 100%;
    width: 100%;
    margin-top: -15px;
    .mail-check-info {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
    }
}

.propose {
    margin-top: 40px;
}

.admin-acces {
    @media #{$small-and-down} {
        left: 90%;
        bottom: 2px;
    }
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -35px;
    color: $logogreen;
    i {
        vertical-align: middle;
    }
}

.more-links {
    a {
        color: inherit;
        opacity: .7;
        margin-left: 20px;
        &:hover {
            opacity: 1;
        }
    }
    i {
        vertical-align: middle;
    }
}

.video-descripition {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 50px;
}

.video-descripition iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about {
    color: white;
    p {
        opacity: .7;
    }
}

.language-selector {
    float: right;
    select {
        background-image: url(static("img/arrow.png"));
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
        background-size: 10px 8px;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border: 0;
        opacity: .7;
        border-radius: 0;
        width: auto;
        -webkit-appearance: none;
        padding-right: 15px;
        line-height: 20px;
        option {
            color: $maingreen;
            -webkit-appearance: none;
        }
    }
}

.show-more {
    padding-top: 5px;
    margin-left: 72px;
}

$opacity: .4;
.layarticle {
    margin-top: 20px;
    position: relative;
    .votes {
        margin-top: 30px;
        padding-left: 10px;
        text-align: center;
        p {
            margin-top: 0px;
        }
        a {
            color: inherit;
        }
        .downvote {
            opacity: $opacity;
            p {
                opacity: $opacity;
            }
            svg {
                -ms-transform: rotate(180deg);
                /* IE 9 */

                -webkit-transform: rotate(180deg);
                /* Chrome, Safari, Opera */

                transform: rotate(180deg);
            }
            &.active {
                path {
                    fill: $downvote_color;
                }
                p {
                    opacity: 1;
                }
                opacity: 1;
                color: $downvote_color;
            }
        }
        .upvote {
            opacity: $opacity;
            p {
                opacity: $opacity;
            }
            &.active {
                path {
                    fill: $upvote_color;
                }
                p {
                    opacity: 1;
                }
                opacity: 1;
                color: $upvote_color;
            }
        }
    }
    .article-prop {
        max-width: 840px;
        font-size: 1.1em;
        font-weight: 400;
    }
}

.comments {
    margin-bottom: 20px;
    li {
        margin-bottom: 10px;
    }
    span.comment-submit-date {
        color: #A5A5A5;
    }
    .main {
        text-align: right;
        max-width: 840px;
        border-bottom: 1px solid $fkingrey;
        padding-bottom: 10px;
        padding-left: 30px;
    }
    .submit {
        margin-top: 0px;
        font-weight: bold;
        input[type=submit] {
            background: none;
            border: none;
            color: $a_color;
            &:focus {
                outline: none;
            }
        }
    }
}

.after-bar {
    position: relative;
    min-height: 50px;
    margin-top: 30px;
    .col {
        padding-left: 0px;
    }
    max-width: 840px;
    .user {
        .user-name {
            word-break: break-word;
            font-weight: bold;
            font-size: 1.1em;
        }
        .user-type {
            position: relative;
            color: #767873;
            padding-left: 10px;

            &::before {
                content: '';
                position: absolute;
                margin: auto;
                left: 0;
                top: 0;
                bottom: 0;
                width: 5px;
                height: 80%;
                background-color: #29d17a;
            }
        }
        .date {
            margin: 0;
            opacity: .4;
        }
    }
    .prop-btn {
        @media #{$medium-and-down} {
            margin-top: 20px;
        }
    }
}

.proposal-button {
    margin-top: 20px;
    div {
        text-align: center;
        line-height: 50px;
        width: 100%;
        height: 50px;
        font-weight: bold;
        background-color: #f0cfab;
        color: #6c5c4b;
        &:hover {
            background-color: darken(#f0cfab, 5%);
        }
    }
}

// Diff Style
.added {
    background-color: #d1e1ad;
    color: #405a04;
    font-weight: bold;
    opacity: .7;
}

.removed {
    color: #a82400;
    text-decoration: line-through;
    opacity: .4;
    margin-right: 5px;
}

.comment-textarea {
    text-align: left;
    margin-top: 20px;
    max-width: 780px;
    @media #{$small-and-down} {
        max-width: 400px;
        label {
            margin-left: 0px;
        }
    }
    textarea {
        height: 1.5em;
        min-height: 1.5em;
        @media #{$small-and-down} {
            padding: 10px 0px 10px 10px !important;
        }
        padding: 10px 15px !important;
        background-color: white;
        border: 1px solid $fkingrey !important;
        box-shadow: none !important;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: 0px !important;
            border-bottom: none;
        }
    }
}

.send-proposal, .edit-profile {
    @media #{$small-and-down} {
        .btn {
            width: 100%;
            margin-top: 5px;
        }
    }
    label {
        padding-top: 10px;
        padding-left: 15px;
        @media #{$small-and-down} {
            margin-left: 0px !important;
        }
    }
    textarea,
    #preview-content {
        max-width: 840px;
        @media #{$small-and-down} {
            margin-left: 0px !important;
        }
    }
    textarea, input[type=text] {
        margin-top: 10px;
        height: 1.5em;
        min-height: 1.5em;
        @media #{$small-and-down} {
            margin-left: 0px;
        }
        padding: 10px 15px !important;
        background-color: white;
        border: 1px solid $fkingrey !important;
        box-shadow: none !important;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: 0px !important;
            border-bottom: none;
        }
    }
    #preview {
        .input-field {
            margin-top: 0px;
            p {
                margin-top: 0px;
            }
        }
    }
    #preview-content {
        color: #868686;
        margin-left: 50px;
    }
    .comment-ammend {
        textarea {
            max-width: 790px;
        }
    }
    .send {
        @media #{$small-and-down} {
            padding-left: 0px !important;
        }
        padding-left: 55px;
        max-width: 640px;
    }
}

.edit-profile {
    h5 {
        color: #3e3e3e;
    }
    h4 {
        font-weight: bold;
    }
    form {
        margin-top: 60px;
        .picture {
            label {
                top: -40px;
                left: -16px;
            }
        }
    }
    span.clearable-file-input {
        display: block;
    }
    .picture {
        color: #9e9e9e;
        margin-bottom: 40px;
        label.active {
            top: 0.2rem;
            left: 0.15rem;
        }
        .clearable-file-input label {
            left: 0rem;
        }
    }
}

.show-profile {
    margin-top: 10px;
    img {
        float: left;
    }
    h3 {
        margin: 10px 0;
    }
}

.show-more {
    padding-top: 5px;
    margin-left: 72px;
    label {
        padding-top: 10px;
        padding-left: 15px;
    }
    textarea,
    #preview-content {
        max-width: 840px;
    }
    textarea {
        margin-top: 10px;
        height: 1.5em;
        min-height: 1.5em;
        padding: 10px 15px !important;
        background-color: white;
        border: 1px solid $fkingrey !important;
        box-shadow: none !important;
        resize: none;
        &:focus {
            outline: none;
            box-shadow: 0px !important;
            border-bottom: none;
        }
    }
    #preview {
        .input-field {
            margin-top: 0px;
            p {
                margin-top: 0px;
            }
        }
    }
    #preview-content {
        color: #868686;
        margin-left: 50px;
    }
    .comment-ammend {
        padding-left: 50px;
        textarea {
            max-width: 790px;
        }
    }
    .send {
        max-width: 640px;
    }
}

.filter-bills {
    margin: 10px 0 20px 0;
    select {
        width: 40%;
    }
    .dropdown-button {
        color: white !important;
    }
}

.dropdown-content {
    background-color: white;
    margin: 0;
    display: none;
    min-width: 300px;
    /* Changed this to accomodate content width */

    max-height: auto;
    overflow: hidden;
    /* Changed this from overflow-y:auto; to overflow:hidden; */

    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}

.login,
.register {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    img.logo {
        max-width: 300px;
        margin-bottom: 50px;
    }
    .wbtn {
        width: 100%;
    }
    .w-input {
        position: relative;
        margin-bottom: 10px;
        input {
            margin-top: 5px;
            padding-left: 10px;
            background-color: white !important;
            color: darkslategray;
        }
    }
    img {
        vertical-align: middle;
    }
    label {
        margin-bottom: 10px;
        color: #9e9e9e !important;
    }
}

.submitted-proposals {
    margin-top: 50px;
}

.wbtn {
    background: transparent;
    box-shadow: 0px 0px 0px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 40px;
    margin-top: 10px;
    &:focus {
        background: none;
    }
    &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
        background: transparent;
        box-shadow: 0px 0px 0px;
    }
    &.dark {
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: inherit;
        &:hover {
            border: 1px solid rgba(0, 0, 0, 1);
        }
    }
}

//helpers
.center-align {
    margin-left: auto;
    margin-right: auto;
}

#overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 9998;
}
