$wikilegis-color: #1cd37a;

$swift-out: cubic-bezier(0.55, 0, 0.1, 1);

@mixin transition-default($property) {
  transition: $property 0.3s $swift-out;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
  padding: 0;
  background-color: hsl(0,0%,95%);

  @media (max-width: 640px) {
    font-size: 0.9em;
    margin: 0.4em;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

.wikilegis-widget {

  &__button {
    border: 0;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 0.4em 0.6em;
    font-family: 'Open Sans', sans-serif;
    background-color: $wikilegis-color;
    color: white;
    cursor: pointer;

    @include transition-default(background-color);

    &:hover, &:focus {
      background-color: darken($wikilegis-color, 10%);
    }

    &--access {
      text-align: center;
      color: #fff;
      width: 100%;
      height: 3em;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    margin: 0;
    margin-bottom: 0.5em;
    text-align: center;
  }

  &__link {
    font-size: 0.9em;
    font-weight: 600;
    color: $wikilegis-color;
    text-decoration: none;

    &--header {
      margin-bottom: 2em;
    }

    &--actions {
      opacity: 0;
      outline: none;
      @include transition-default(opacity);

      @media (max-width: 640px) {
        opacity: 1;
        order: -1;
        margin-bottom: 0.25em;
        width: 100%;
      }

      &:focus {
        opacity: 1;
      }
    }
  }

  &__segment {

    &--original {
      margin-bottom: 0.75em;
      padding: 0.6em;
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      border: 2px solid white;
      @include transition-default(all);

      @media (max-width: 640px) {
        margin-bottom: 0.5em;
      }


      &:hover {
        .wikilegis-widget__link--actions {
          opacity: 1;
        }
      }

      &.active {
        border-color: lighten($wikilegis-color, 25%);
        box-shadow: 0 1px 2px lighten($wikilegis-color, 25%);
      }
    }
  }

  &__segment-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__segment-text-wrapper {

  }

  &__segment-number {
    font-weight: 700;
  }

  &__segment-text {
    display: inline;
  }

  &__diff {
    &--added {
      background-color: hsla(151, 77%, 47%, 0.25);
      font-weight: 700;
      color: hsla(0,0%,15%,1);
    }

    &--removed {
      text-decoration: line-through;
      color: hsla(6,78%,70%,1);
      font-weight: 700;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25em;

    &--votes {
      flex: 0 0 4.5em;
      display: flex;
      justify-content: space-around;
      margin-right: 0.75em;

      @media (max-width: 640px) {
        flex-direction: column;
        flex: 0 0 2.5em;
        margin-right: 0.5em;
      }

      .wikilegis-widget__action-box-item--amendment & {
        @media (max-width: 640px) {
          flex: 0 0 3em;
          margin-right: 0em;
        }
      }
    }
  }

  &__actions-group {
    display: flex;
    margin-left: -1px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__action {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 1em;
    color: hsl(0, 0%, 55%);
    z-index: 0;
    cursor: pointer;
    outline: none;
    @include transition-default(all);

    &:first-child {
      padding-left: 0;
    }

    &:hover, &:focus {
      color: black;
    }

    &.active {
      position: relative;
      color: black;
      transform: translateY(0.5em);

      &::after {
        content: '';
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% + 1px);
        width: 0;
        height: 0;
        border-left: 3em solid transparent;
        border-right: 3em solid transparent;
        border-bottom: 2.75em solid hsl(0, 0%, 95%);

        .wikilegis-widget__action-box-item--amendment & {
          border-bottom-color: hsl(0, 0%, 90%);
        }
      }
    }

    &--vote {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-right: 0;

      .wikilegis-widget__action-text {
        margin-left: 0;
        display: inline-flex;
      }
    }

    &--upvote {
      @media (max-width: 640px) {
        margin-bottom: 0.5em;
      }

      &:hover, &:focus {
        color: $wikilegis-color;
      }

      &.voted {
        color: $wikilegis-color;
      }
    }

    &--downvote {
      &:hover, &:focus {
        color: #e74c3c;
      }
      &.voted {
        color: #e74c3c;
      }
    }
  }

  &__action-icon {
    font-size: 1em;

    @media (max-width: 640px) {
      font-size: 1.25em;
    }
  }

  &__action-text {
    font-size: 0.9em;
    margin-left: 0.25em;
    font-weight: 600;
  }

  &__action-text-label {
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__action-box {
    position: relative;
    display: none;
    background-color: hsla(0,0%,95%,1);
    margin-top: 1.5em;

    &.active {
      display: block;
    }

    &--amendments {

      .wikilegis-widget__action-box {
        border-left: 1px solid hsl(0, 0%, 50%);
        background-color: hsl(0, 0%, 90%);
      }
    }
  }

  &__span {
    &--author {
      font-weight: 700;
    }

    &--date {
      color: hsl(0, 0%, 50%);
      font-size: 0.8em;
    }

    &--action-box-input {
      display: block;
      font-weight: 700;
      margin-bottom: 0.3em;
    }

    &--empty-action {
      display: block;
      padding: 1em;
      padding-bottom: 0;
      color: #ee8377;
      font-weight: 700;
    }
  }

  &__action-box-item {
    padding: 1em;
    border-bottom: 1px solid hsla(0,0%,80%,1);

    &--amendment {
      @media (max-width: 640px) {
        padding-left: 0;
      }
    }
  }

  &__action-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__action-box-info {
    font-size: 0.9em;
  }

  &__action-box-comment {
    margin-bottom: 0;
  }

  &__action-box-input {
    display: block;
    padding: 1em;
  }

  &__input {
    border: none;
    display: block;

    &--textarea {
      min-height: 6em;
      width: 100%;
      padding: 0.5em;
      margin-bottom: 0.5em;
    }

    &--access {
      width: 100%;
      height: 3em;
      border: 1px solid #dee3e4;
      padding: 0em 1em;
      margin: 0.5em 0;

      &:focus {
        outline: none;
        border: 1px solid $wikilegis-color;
        @include transition-default(border)
      }
    }
  }

  &__image {
    &--top-logo {
      margin-bottom: 1em;
      width: calc(100% - 3em);
    }
  }

  &__access-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  &__access {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    padding: 1.5em 0;
    position: relative;
    background: #fff;
    overflow: hidden;
    border: 2px solid #1cd37a;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
    border-radius: 0.5em;
  }

  &__access-box-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__access-box {
    flex: 1 0 100%;
    width: 100%;
    padding: 0 1.5em;
    background: #fff;
    @include transition-default(transform);
  }

  &__button {
    &--social {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 100%;
      height: 3em;
      margin: 0.5em 0;
      color: #fff;
      text-align: center;
      @include transition-default(background-color)
    }

    &--facebook {
      background-color: #527EBF;

      &:hover, &:focus {
        background-color: darken(#527EBF, 10%);
      }
    }

    &--google {
      background-color: #DB4A37;

      &:hover, &:focus {
        background-color: darken(#DB4A37, 10%);
      }
    }
  }

  &__icon {
    &--access {
      width: 1.5em;
      margin-right: 1em;
    }
  }

  &__access-footer {
    width: 100%;
    height: 1em;
    margin-top: 0.5em;
    text-align: center;
    color: #666;
    font-family: sans-serif;
  }

  &__separator {
    display: block;
    width: 100%;
    border-bottom: 1px solid #dee3e4;
    position: relative;
    margin: 1em 0
  }
}

.translatex {
  &--left {
    transform: translateX(-100%);
  }
}