.wikilegis-widget {
  display: flex;

  .wikilegis__alert {
    margin-top: 5em; // To compensate the widget-bar height
  }

  .wikilegis__bill {
    left: 0;
    transform: translateX(0);
    width: 100%;
  }

  .bill__content-wrapper {
    margin-top: 3em; // To compensate the widget-bar height
    width: 100%;
  }

  .bill__amendments-wrapper {
    margin-top: 3em; // To compensate the widget-bar height
    width: 100%;
  }

  .widget-bar {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: .15em solid #2cd27e;
    display: flex;
    height: 3em;
    justify-content: center;
    padding: 0 4em;
    position: relative;
    width: 100%;
    z-index: 5;

    @include breakpoint($medium-down) {
      padding: 0 1em;
    }
  }

  .widget-logos {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: auto;
  }

  .logo__img {
    height: 25px;
    margin-right: 5px;
  }

  .logo__text {
    height: 20px;

    @include breakpoint($small-only) {
      display: none;
    }
  }

  .amendments__suggest-button {
    bottom: 3.5em; // To compensate the widget-bar height
  }

  .amendments__form-wrapper {
    bottom: 3em; // To compensate the widget-bar height
  }
}

.widget-loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #f2f2f2;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
  font-size: 64px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s 0s, z-index 0s 0.3s;

  &.show {
    opacity: 1;
    z-index: 99999;
    visibility: visible;
    transition: opacity ease-in-out 0.3s 0s, z-index 0s 0s;
  }

  .loader__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content__spinner {
      position: relative;

      &:before, &:after {
        content: "";
        position: relative;
        display: block;
      }

      &:before {
        animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
        width: 1em;
        height: 1em;
        background-color: #2cd27e;
      }

      &:after {
        animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
        bottom: -.5em;
        height: .25em;
        border-radius: 50%;
        background-color: rgba(#000,0.2);
      }
    }
  }
}

@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: rgba(#000,0.1);
  }
}
