.amendment__actions {
  display: flex;
  flex-wrap: wrap;
  font-size: .9em;

  [class^="actions__vote"] {
    align-items: center;
    display: flex;
    margin: .5em;

    + [class^="actions__vote"] {
      margin-left: .5em;
      padding-left: .5em;
    }
  }

  .vote__count {
    margin-left: .2em;
  }

  .actions__comments {
    align-items: center;
    color: $color-gray-55;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    outline: none;
    padding: .5em 1em;
    justify-content: center;
    position: relative;
    transition: background-color .3s $swift-out, color .3s $swift-out;

    &:hover,
    &[data-collapsible-open="true"] {
      background-color: $color-actions-comments;
      color: $color-white;
    }

    &::after {
      border-bottom: 1em solid transparent;
      border-left: 1em solid transparent;
      border-right: 1em solid transparent;
      bottom: -0.8em;
      content: '';
      height: 0;
      pointer-events: none;
      position: absolute;
      transform: translateY(200%);
      width: 0;
      transition: all .3s 0s $swift-out;
      z-index: 0;
    }

    &[data-collapsible-open="true"]::after {
      border-bottom: 1em solid $color-actions-comments;
      transform: translateY(100%);
      transition: all .3s .3s $swift-out;
    }

    * { pointer-events: none; }
  }

  .comments__icon {
    align-items: center;
    display: flex;
    margin-right: .5em;
  }

  .votes-wrapper {
    display: flex;
  }
}
