.amendment__actions {
  display: flex;

  .actions__vote {
    align-items: center;
    display: flex;
    margin: .5em;

    + .actions__vote {
      border-left: 1px solid $color-gray-75;
      margin-left: .5em;
      padding-left: .5em;
    }
  }

  .vote__count {
    margin-left: .2em;
  }

  .actions__comments {
    align-items: center;
    color: $color-gray-55;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    outline: none;
    padding: .5em 1em;
    transition: background-color .3s $swift-out, color .3s $swift-out;

    &:hover,
    &[data-collapsible-open="true"] {
      background-color: $color-actions-comments;
      color: $color-white;
    }

    * { pointer-events: none; }
  }

  .comments__icon {
    align-items: center;
    display: flex;
    margin-right: .5em;
  }

  .votes-wrapper {
    display: flex;
  }
}
