.bill__amendments-wrapper {
  background-color: $color-gray-95;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: transform .5s $swift-out, background-color .5s $swift-out;
  width: calc(100% - 350px);
  will-change: transform;

  @include breakpoint($medium-down) {
    width: 100%;
  }

  &[data-amendments-open="true"] {
    transform: translateX(0);
  }

  &[data-current-tab="modifier"] {
    background-color: #e7f7fd;
  }

  &[data-current-tab="additive"] {
    background-color: #eafbf2;
  }

  &[data-current-tab="supress"] {
    background-color: #fdf2f2;
  }
}

.amendments__close {
  color: $color-gray-55;
  cursor: pointer;
  font-size: 2em;
  left: .5em;
  position: absolute;
  top: .5em;
  transition: color .2s $swift-out;
  z-index: 2;

  @include breakpoint($small-only) {
    font-size: 1.5em;
    left: 0.75em;
    top: 0.25em;
  }

  &:hover {
    color: $color-accent;
  }

  * { pointer-events: none; }
}

.amendments__nav-wrapper {
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .15), 0 10px 15px rgba(0, 0, 0, .05);
  margin: 0 4em;
  z-index: 2;
  transition: margin-top .3s $swift-out;

  @include breakpoint($small-only) {
    margin: 0;
    padding-left: 4em;
  }

  .content__text {
    margin: 0;
  }
}

.amendment__text-wrapper {
  padding: 1em 1.5em;

  @include breakpoint($small-only) {
    display: none;
  }
}

.amendments__nav {
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;

  &[data-tab="1"] [data-tab="1"] {
    background-color: $color-actions-edit;
    box-shadow: inset -1px 2px 2px 0 $color-shadow-2;
    color: $color-white;
  }

  &[data-tab="2"] [data-tab="2"] {
    background-color: $color-actions-add;
    box-shadow: inset -1px 2px 2px 0 $color-shadow-2;
    color: $color-white;
  }

  &[data-tab="3"] [data-tab="3"] {
    background-color: $color-actions-remove;
    box-shadow: inset -1px 2px 2px 0 $color-shadow-2;
    color: $color-white;
  }

  .nav__item {
    align-items: center;
    background-color: $color-white;
    color: $color-gray-55;
    display: flex;
    flex: 1 1 auto;
    font-weight: 700;
    justify-content: center;
    padding: .5em 0;
    text-decoration: none;
    transition: all .3s $swift-out;

    &:hover {
      box-shadow: inset -1px 2px 2px 0 $color-shadow-2;
      color: $color-white;

      &[data-tab="1"] { background-color: $color-actions-edit; }
      &[data-tab="2"] { background-color: $color-actions-add; }
      &[data-tab="3"] { background-color: $color-actions-remove; }
    }
  }

  .item__icon {
    display: flex;
    font-size: 1.25em;
  }

  .item__text {
    margin-left: .5em;

    @include breakpoint($small-only) {
      display: none;
    }
  }
}

.bill__amendments {
  display: flex;
  flex: 1;
  transition: transform .3s $swift-out;
  width: 300%;

  &[data-tab="2"] { transform: translateX(calc(-100% / 3)); }
  &[data-tab="3"] { transform: translateX(calc(-100% * 2 / 3)); }
}
