.amendment {
  position: relative;

  + .amendment {
    margin-top: .5em;
  }
}

.amendment__content {
  background-color: $color-white;
  box-shadow: 0 1px 2px $color-shadow-1;
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;

  .content__section-top {
    display: flex;
  }

  .section-top__section-left {
    align-items: center;
    display: flex;
    flex: 0;
    margin-right: 1.5em;
  }

  .content__avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .section-top__section-right {
    margin: 1em 0;
  }

  .content__author {
    margin: 0 0 1em;
  }

  .content__text {
    margin: 0;
  }
}

.amendment__actions {
  display: flex;

  .actions__vote {
    align-items: center;
    display: flex;
    margin: .5em;

    + .actions__vote {
      border-left: 1px solid $color-gray-75;
      margin-left: .5em;
      padding-left: .5em;
    }
  }

  .icon {
    font-size: 1.5em;
  }

  .vote__icon {
    color: $color-gray-55;
  }

  .actions__comments {
    align-items: center;
    color: $color-gray-55;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    padding: .5em;
    transition: background-color .3s $swift-out, color .3s $swift-out;

    &:hover,
    &[data-collapsible-open="true"] {
      background-color: $color-actions-comments;
      color: $color-white;
    }

    * { pointer-events: none; }
  }

  .comments__icon {
    align-items: center;
    display: flex;
    margin-right: .5em;
  }
}
