{% load i18n %}

<div class="bill__amendments-wrapper" data-form-visible="false" data-current-tab="false" data-amendments-container>
  <div class="amendments__nav-wrapper" data-nav-wrapper>
    <div class="amendment__text-wrapper" data-nav-text>
      <div class="loader" data-loading="false"></div>
    </div>

    <nav class="amendments__nav">
      <a class="nav__item" data-tab-content="amendments" data-tab="1" data-tab-content-type="modifier" href="#tab_edit">
        <div class="item__text">
          <i class="item__icon icon icon-pencil"></i><span class="item__text">{% trans 'EDITION' %}</span>
        </div>
      </a>
      <a class="nav__item" data-tab-content="amendments" data-tab="2" data-tab-content-type="additive" href="#tab_add">
        <div class="item__text">
          <i class="item__icon icon icon-plus"></i><span class="item__text">{% trans 'ADDITION' %}</span>
        </div>
      </a>
      <a class="nav__item" data-tab-content="amendments" data-tab="3" data-tab-content-type="supress" href="#tab_remove">
        <div class="item__text">
          <i class="item__icon icon icon-trash"></i><span class="item__text">{% trans 'EXCLUSION' %}</span>
        </div>
      </a>
    </nav>
  </div>

  <a class="amendments__close" data-drawer-close="amendments" role="button" title="{% trans 'back' %}" tabindex="0">
    <i class="close__icon icon icon-arrow-left"></i>
  </a>

  <div class="loader" data-loading="false"></div>
</div>
