{% load static i18n %}

<section id="segment-list-search" class="bill__content" data-content="bill" data-bill="{{bill.id}}">
  <div class="content__header">
    <div class="header__section-top">
      <img class="header__logo" src="{% static 'images/brasao.svg' %}" alt="{% trans 'Coat of arms of the republic' %}" />

      <div class="header__title">
        <h1 class="title__name">{{bill.title}}</h1>
        <h2 class="title__epigraph">{{bill.epigraph}}</h2>
      </div>
    </div>

    <p class="header__description">{{bill.description}}</p>
  </div>

  <ol class="content__segments">
    {% for segment in bill.segments.all %}
      {% include "segment/_index.html" with segment=segment %}
    {% endfor %}
  </ol>
</section>
