{% load static i18n %}

<section class="bill__info" data-content="bill" data-bill="{{bill.id}}">
  <div class="info__header">
    {% if request.user.is_authenticated %}
      <a class="header__link" href="" aria-label="login">
        <i class="link__icon icon icon-user"></i>
      </a>
    {% else %}
      <a href="" class="header__link" aria-label="login">
        <i class="link__icon icon icon-sign-in"></i>
      </a>
    {% endif %}

    <label class="header__search">
      <i class="search__icon icon icon-search"></i>
      <input id="bill-content-search" class="search__input" type="text" placeholder="{% trans 'SEARCH' %}..." />
    </label>
  </div>

  <div class="info__logos">
    <img class="logo__img" src="{% static 'images/logo-wikilegis.svg' %}" alt="Wikilegis logo icon" />
    <img class="logo__text" src="{% static 'images/logo-wikilegis-text.svg' %}" alt="Wikilegis logo text" />
  </div>

  <h3 class="info__theme--{{bill.theme.slug}}">
    <i class="theme__icon icon icon-{{bill.theme.slug}}"></i>
    {{bill.theme.description}}
  </h3>

  {% if bill.status == 'closed' %}
    <span class="bill__state-closed">
      {% trans "Participations closed on" %} <span class="item__close-date">{{bill.closing_date|date:'d/m/Y'}}</span>
    </span>
  {% endif %}
  <h2 class="info__title">{{bill.title}}</h2>

  <p class="info__description">{{bill.description}}</p>

  {% if not bill.status == "closed" %}
    <div class="bill__state">
      <div class="state__status--open">
        {% trans "Created on" %} <span class="state__open-date">{{bill.created|date:'d/m/Y'}}</span>
      </div>

      <div class="state__status--close">
        {% trans "Closes on" %} <span class="state__close-date">{{bill.closing_date|date:'d/m/Y'}}</span>
      </div>
    </div>
  {% endif %}

  <div class="info__actions--votes" data-votes-wrapper data-object-type="bill" data-object-id="{{bill.id}}">
    <h4 class="actions__vote-title">{% trans "Do you support this bill?" %}</h4>
    <div class="actions__votes-wrapper">
      {% include "segment/_votes.html" with segment=bill %}
    </div>
  </div>

  {% block extra_info %}
  {% endblock extra_info %}

  {% if request.user.is_authenticated %}
  <form data-subscribe-url="{% url 'subscribe_newsletter' bill.id %}" method="post" data-subscribe-form>
    <div data-subscribe-wrapper>
      {% include "bill/_newsletter.html" with bill_id=bill.id %}
    </div>
  </form>
  {% endif %}

</section>
