{% load static i18n %}

<li class="bill-list__item{% if bill.status == 'closed' %}--closed{% endif %}" data-drawer-open="bill" data-bill="{{bill.id}}">
  <div class="item__category">
    <i class="item__icon--{{bill.theme.slug}} icon icon-{{bill.theme.slug}}"></i>
  </div>
  <div class="item__main">

    {% if bill.status == 'closed' %}
      <span class="item__info-closed">
        {% trans 'Participations closed at' %} <span class="item__close-date">{{bill.closing_date|date:'d/m/Y'}}</span>
      </span>
    {% endif %}

    <h4 class="item__title">{{bill.title}}</h4>
    <p class="item__description">{{bill.description}}</p>

    {% if not bill.status == "closed" %}
      <div class="item__info">
        <div class="item__info-status--open">
          {% trans 'Created at' %} <span class="item__open-date">{{bill.created|date:'d/m/Y'}}</span>
        </div>

        <div class="item__info-status--close">
          {% trans 'Closes at' %} <span class="item__close-date">{{bill.closing_date|date:'d/m/Y'}}</span>
        </div>
      </div>
    {% endif %}

  </div>
  <div class="item__suggestions">
    <span class="suggestions__amount">{{bill.amendments_count}}</span>
    <span class="suggestions__label">{% trans 'Suggestions' %}</span>
  </div>
</li>
