{% load subscribers i18n %}
{% subscriber bill_id request.user.id as newsletter_status %}
{% if newsletter_status %}
    <button type="submit">
      <span class="header-text valign">{% trans 'Unsubscribe' %}</span>
    </button>
{% else %}
    <div>
      <span class="header-text valign">{{ config.NEWSLETTER_TEXT }}</span>
    </div>

    <div>
      <input class="with-gap" value="daily" name="periodicity" type="radio" id="periodicity_daily">
      <label for="periodicity_daily">{% trans 'Daily' %}</label>
    </div>
    <div>
      <input class="with-gap" value="weekly" name="periodicity" type="radio" id="periodicity_weekly">
      <label for="periodicity_weekly">{% trans 'Weekly' %}</label>
    </div>
    <button type="submit">{% trans 'Subscribe' %}</button>

{% endif %}
