{% extends "base_with_sidebar.html" %}

{% load static humanize %}
{% load i18n %}
{% load helpers %}

{% block content2 %}
    {% comment %}TODO Remove these funny scroll sheningans{% endcomment %}
    <div class="col m3 pl-full pl-description nice-scroll">
        <a href="{% url "show_bill" bill.id %}">
            <div class="circle"><div class="pl-icon"><i class="medium material-icons">description</i></div></div>
            <h5 class="pl-title">{{ bill.title }}</h5>
        </a>

        <p class="pl-about">{{ bill.description|safe|linebreaks }}</p>

        {% for author in  authors %}
            <div class="pl-author">
                <div class="avatar" style="background-image: url('{% static "img/user.png" %}')"></div>
                <div class="info">
                    <span class="author">{{ author.user }}</span>
                </div>
            </div>
            {% if not forloop.last %}<hr />{% endif %}
        {% endfor %}
    </div>

    <div class="col m7 pl-full list-amendment">
        {% for segment in bill.segments.all %}
            {% include "bill/_bill_segment_item.html" %}
        {% endfor %}
    </div>
{% endblock %}
