{% extends "bill/_base.html" %}

{% load static %}
{% load helpers %}
{% load i18n %}


{% comment TODO by dirleyrls %}{#
    1. Definir o foco inicial pro campo `content`.
    3. Exibir um "campo" que permita ao usuário exibir/esconder o conteúdo original.
#}{% endcomment %}

{% block content3 %}
    <div class="col m8 pl-full">
        <div class="row">
            <h4>{% trans "Send proposal" %}</h4>

            <form class="col s12" action="./" method="POST">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <textarea hidden="hidden" id="id_content" name="content" onblur="segment_compare()"></textarea>

                <div class="row propose">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea class="materialize-textarea" cols="40" id="content-input" name="content-input" onblur="segment_compare()" rows="10" style="height: 22px;">Art. 2º. Esta lei entra em vigor na data de sua publicação.</textarea>
                    </div>
                </div>

                <div class="row propose">
                    <div class="input-field col s12">
                        <p id="content-output"></p>
                    </div>
                </div>

                <div class="row">
                  <div class="col s11 offset-s1">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">comment</i>
                        {% call "core:render_field" form.comment extra_classes="materialize-textarea" %}
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col s12 right-align">
                        <a class="btn waves-effect waves-light" href="{% url "show_segment" segment.bill.id segment.id %}">{% trans "Cancel" %}</a>
                        <button class="btn waves-effect waves-light" type="submit" name="action">{% trans "Send proposal" %}
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block partialscript %}
    <script type="text/javascript" src="{% static "js/jsdiff.js" %}"></script>
    <script>
        $(function() {
          $('textarea#content-input').focus();
        });
    </script>
    <script>
        function segment_compare()
        {
            document.getElementById("content-output").innerHTML="";
            var str_input="{{ form.initial.content }}";
            var str_output=document.getElementById("content-input").value;

            var splitinput = str_input.split("\n");
            var splitoutput = str_output.split("\n");

            var inlines=splitinput.length;
            var outlines=splitoutput.length;

            var lines;
            if (outlines>inlines)
            {
                lines=outlines;
            }
            else
            {
                lines=inlines;
            }

            var buildoutput="";

            for (i=0;i<lines;i++)
            {
                var testundefined=false;
                if (splitinput[i]==undefined)
                {
                    buildoutput=buildoutput+diffString("",splitoutput[i])+"<br/>";
                    testundefined=true;
                }

                if (splitoutput[i]==undefined)
                {
                    buildoutput=buildoutput+diffString(splitinput[i],"")+"<br/>";
                    testundefined=true;
                }

                if (testundefined==false)
                {
                    buildoutput=buildoutput+diffString(splitinput[i],splitoutput[i])+"<br/>";
                }
            }

            document.getElementById("content-output").innerHTML = buildoutput;
            $("#id_content").text(buildoutput);
        }
    </script>
{% endblock %}