.bill__content-wrapper {
  background-color: $color-gray-95;
  flex: 1 1 auto;
  overflow-y: auto;
  will-change: transform;

  .content__close {
    color: $color-gray-55;
    cursor: pointer;
    font-size: 2em;
    left: .5em;
    position: absolute;
    top: .5em;
    transition: color .2s $swift-out;

    &:hover {
      color: $color-accent;
    }

    * { pointer-events: none; }
  }
}

.bill__content {
  padding: 4em;

  .content__header {
    padding: 0 3em;
  }

  .header__section-top {
    display: flex;
    margin-left: -.3em;
  }

  .header__logo {
    height: 100px;
    width: 100px;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
  }

  .title__name {
    margin: 0 0 .2em;
  }

  .title__epigraph {
    font-weight: 400;
    margin: 0;
  }

  .content__segments {
    margin-top: 2em;
    padding: 0;
  }
}
