.bill__close {
  position: absolute;
}

.bill__content-wrapper {
  background-color: $color-gray-95;
  overflow-y: auto;
  padding: 1em;
  width: calc(100vw - 400px);
  will-change: transform;
}

.bill__content {
  width: 100%;

  .content__header {
    .header__title {
      margin: 0 0 .5em;
      text-align: center;
    }

    .header__epigraph {
      font-weight: 400;
      margin: 0;
      text-align: center;
    }

    .epigraph__link {
      color: $color-accent;
      font-size: .9em;
      font-weight: 600;
      text-decoration: none;
    }

    .header__resume {
      margin: 0 0 1em;
      text-align: center;
      word-break: break-word;
    }
  }
}
