.bill__info-wrapper {
  background-color: $color-white;
  flex: 1 0 300px;
  max-width: 300px;
  overflow-y: auto;
}

.bill__info {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 4em;

  .info__header {
    border-bottom: 1px solid $color-gray-75;
    display: flex;
    margin-bottom: .5em;
    padding: 0 .5em .5em;
  }

  .header__link {
    align-items: center;
    color: $color-gray-75;
    display: flex;
    font-size: 2em;
    line-height: 1;
    text-decoration: none;
  }

  .header__search {
    border-left: 1px solid $color-gray-75;
    display: flex;
    margin-left: .5em;
    padding-left: .5em;
  }

  .search__icon {
    align-self: center;
    color: $color-gray-75;
    font-size: 1.5em;
  }

  .search__input {
    border: 0;
    margin-left: .5em;
    max-width: calc(300px - 9.5em);
  }

  .info__logos {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: .5em;
  }

  .logo__img {
    height: 25px;
    margin-right: 5px;
  }

  .logo__text {
    height: 20px;
  }

  [class^="info__theme"] {
    border-bottom: 1px solid;
    font-size: .8em;
    font-weight: 400;
    padding-bottom: .5em;
    text-transform: uppercase;
  }

  @each $category in $categories {
    .info__theme--#{$category} {
      border-color: color-category($category);
      color: color-category($category);
    }
  }

  .theme__icon {
    font-size: 1.5em;
    margin-right: .2em;
  }

  .info__title {
    font-size: 1.3em;
    margin: 0 0 .75em;
  }

  .info__description {
    margin: 0;
  }

  .info__created {
    font-size: .8em;
    text-align: right;
  }

  [class^="info__actions"] {
    display: flex;
  }

  .info__actions--votes {
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;

    .actions__vote-title {
      margin: 0 0 1em;
    }

    .actions__votes-wrapper {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    .actions__vote {
      align-items: center;
      color: $color-gray-55;
      display: flex;
      flex-direction: column;
      font-size: 1.5em;

      + .actions__vote {
        border-left: 1px solid $color-gray-75;
        margin-left: .5em;
        padding-left: .5em;
      }
    }
  }

  .info__videos {
    margin: 1em 0;
  }
}
