<div class="col m2 main-menu hide-on-small-only">
    {% include "_logo.html" %}

    <div class="row searchSidebar">
        <nav class="col m12">
            <div class="nav-wrapper">
                <div class="input-field">
                    <form method="get" action="/search/">
                        <input class="[]" id="id_q" name="q" type="search" value="" placeholder="Search..." autocomplete="off">
                        <label for="" class="active"><i class="material-icons">search</i></label>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>