{% load static compress %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Wikilegis{% endblock %}</title>

    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="{% static "sass/style.scss" %}"  media="screen,projection"/>
    {% endcompress %}
</head>

<body>
    {% block content %}
        I'm sorry. The princess is in another castle.
    {% endblock %}
</body>
</html>