{% extends "base.html" %}

{% load static humanize %}
{% load i18n %}

{% block content %}
    <nav class="main-nav hide-on-med-and-up">
        <ul class="right hide-on-med-and-down">
            <li><a href="#!">{% trans "Este é um item do menu" %}</a></li>
            <li><a href="#!">{% trans "Este é um item do menu" %}</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li><a href="#!">{% trans "Este é um item do menu" %}</a></li>
            <li><a href="#!">{% trans "Este é um item do menu" %}</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>

    <div class="row main">
        <div class="col m2 main-menu hide-on-small-only">
            {% include "_logo.html" %}
        </div>

        <div class="col m3 pl-description">
            <a href="{% url "show_bill" bill.id %}">
                <div class="circle"><div class="pl-icon"><i class="medium material-icons">description</i></div></div>
                <h5 class="pl-title">{{ bill.title }}</h5>
            </a>

            <p class="pl-about">{{ bill.description|safe|linebreaks }}</p>

            <div class="divider"></div>

            <div class="pl-author">
                <div class="avatar" style="background-image: url('{% static "img/user.png" %}')"></div>
                <div class="info">
                    <span class="author">Antônio da Silva</span>
                    <br/>
                    <span class="bio">Fusce sed metus a augue hendrerit dictum.</span>
                    <br/>
                    <span class="party">OP</span>
                </div>
            </div>

            <div class="divider"></div>

            <div class="data">
                {% trans "Dados:" %}
                <br/>
                <i class="material-icons">question_answer</i><span class="comment number">0</span> {% trans "comentários" %}
                <br/>
                <i class="material-icons">wb_incandescent</i><span class="ideas number">{{ total_amendment_count }}</span> {% trans "ideias de alteração" %}
            </div>
        </div>
        <div class="col m7 pl-full">
            {% for segment in bill.segments.all %}
                {% include "_segment_item.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
