{% extends "base.html" %}

{% load static humanize %}

{% block content %}
    <nav class="main-nav hide-on-med-and-up">
        <ul class="right hide-on-med-and-down">
            <li><a href="#!">Este é um item do menu</a></li>
            <li><a href="#!">Este é um item do menu</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li><a href="#!">Este é um item do menu</a></li>
            <li><a href="#!">Este é um item do menu</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>

    <div class="row main">
        <div class="col m2 main-menu hide-on-small-only">
            {% include "_logo.html" %}
        </div>

        <div class="col m3 pl-description">
            <a href="{% url "show_bill" bill.id %}">
                <div class="circle"><div class="pl-icon"><i class="medium material-icons">description</i></div></div>
                <h5 class="pl-title">{{ bill.title }}</h5>
            </a>

            <p class="pl-about">{{ bill.description }}</p>

            <div class="divider"></div>

            <div class="pl-author">
                <div class="avatar" style="background-image: url('{% static "img/user.png" %}')"></div>
                <div class="info">
                    <span class="author">Antônio da Silva</span>
                    <br/>
                    <span class="bio">Fusce sed metus a augue hendrerit dictum.</span>
                    <br/>
                    <span class="party">OP</span>
                </div>
            </div>

            <div class="divider"></div>

            <div class="data">
                Dados:
                <br/>
                <i class="material-icons">question_answer</i><span class="comment number">25</span> Comentários
                <br/>
                <i class="material-icons">wb_incandescent</i><span class="ideas number">75</span> Ideias de alteração
            </div>
        </div>
        <div class="col m7 pl-full">
            <blockquote class="pl-head">
                <h5>LIVRO I</h5>
                <h6>PARTE GERAL</h6>
                <h5>TÍTULO I - PRINCÍPIOS E GARANTIAS, NORMAS PROCESSUAIS, JURISDIÇÃO E AÇÃO</h5>
                <h6>CAPÍTULO I - DOS PRINCÍPIOS E DAS GARANTIAS FUNDAMENTAIS DO PROCESSO CIVIL</h6>
            </blockquote>

            {% for segment in bill.segments.all %}
                <a href="{% url "show_segment" bill.id segment.id %}">
                    <div class="article">
                        <div class="comments-counter">
                            <div class="cn">{{ segment.amendments.all.count }}</div>
                        </div>
                        <div class="content">
                            <span class="article-number">Art. {{ forloop.counter|ordinal }}</span>
                            <span class="article-content">
                                {{ segment.content }}
                            </span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
