{% load staticfiles compress %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrameta %}
    {% endblock %}
    <title>{% block title %}Wikilegis{% endblock %}</title>
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'styles/app.scss' %}"/>
    {% endcompress %}
  </head>

  <body>
    <main id="bill-list-search" class="wikilegis" data-bill-open="false">
      <div class="wikilegis__banner">
        <h1>Wikilegis</h1>
        <input class="banner__search" placeholder="Search" />
      </div>

      <ul class="wikilegis__bill-list" data-drawer-close="bill">
        {% for bill in bills %}
          {% include "bill/_list-item.html" with bill=bill %}
        {% endfor %}
      </ul>

      <div class="wikilegis__bill">
        <div class="bill__info-wrapper">
          <div class="loader" data-loading="false"></div>
        </div>

        <div class="bill__content-wrapper">
          <a class="content__close" data-drawer-close="bill" role="button" title="fechar" tabindex="0">
            <i class="close__icon icon icon-arrow-left"></i>
          </a>
          <div class="loader" data-loading="false"></div>
        </div>

        <div class="bill__amendments-wrapper">
          <nav class="amendments__nav">
            <a href="#tab_edit" class="nav__item" data-tab-content="amendments" data-tab="1">EDIÇÃO</a>
            <a href="#tab_add" class="nav__item" data-tab-content="amendments" data-tab="2">ADIÇÃO</a>
            <a href="#tab_remove" class="nav__item" data-tab-content="amendments" data-tab="3">EXCLUSÃO</a>
          </nav>

          <button class="amendments__close" data-drawer-close="amendments">Fechar</button>
          <div class="loader" data-loading="false"></div>
        </div>
      </div>
    </main>

    {% compress js %}
    <script type="module" src="{% static 'javascript/app.js' %}"></script>
    {% endcompress %}
  </body>
</html>
