{% load staticfiles compress %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrameta %}
    {% endblock %}
    <title>{% block title %}Wikilegis{% endblock %}</title>
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'styles/app.scss' %}"/>
    {% endcompress %}
  </head>

  <body>
    <main id="bill-list-search" class="wikilegis" data-bill-open="false">
      <div class="wikilegis__banner">
        <h1>WIKILEGIS</h1>
        <input class="banner__search" placeholder="Search" />
      </div>

      <!-- <ul class="wikilegis__bill-list" data-drawer-close="bill">
        {% for bill in bills %}
        <li class="bill-list__item" data-drawer-open="bill" data-bill={{bill.id}}>
          {{bill.title}}
        </li>
        {% endfor %}
      </ul> -->

      <ul class="wikilegis__bill-list" data-drawer-close="bill">
        {% include "bill/_list-item.html" %}
      </ul>

      <div class="wikilegis__bill">
        <button class="bill__close" data-drawer-close="bill">Fechar</button>

        <div class="bill__info-wrapper">
          <div class="loader" data-loading="false"></div>
        </div>

        <div class="bill__content-wrapper">
          <div class="loader" data-loading="false"></div>
        </div>

        <div class="bill__interactions-wrapper">
          <nav class="interactions__nav">
            <a href="#tab_edit" class="nav__item" data-tab-content="interactions" data-tab="1">Aba 1</a>
            <a href="#tab_add" class="nav__item" data-tab-content="interactions" data-tab="2">Aba 2</a>
            <a href="#tab_remove" class="nav__item" data-tab-content="interactions" data-tab="3">Aba 3</a>
          </nav>

          <button class="interactions__close" data-drawer-close="interactions">Fechar</button>
          <div class="loader" data-loading="false"></div>
        </div>
      </div>
    </main>

    {% compress js %}
    <script type="module" src="{% static 'javascript/app.js' %}"></script>
    {% endcompress %}
  </body>
</html>
