{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
<main id="bill-list-search" class="wikilegis" data-bill-open="false">
  <!-- <input class="banner__search" placeholder="Search" /> -->
  <div class="wikilegis__banner">
    <div class="banner__particle-background" id="particles-js"></div>
    <div class="banner__content">
      <div class="banner__logo">
        <img class="logo__image" src="{% static 'images/logo-wikilegis.svg' %}">
        <img class="logo__text" src="{% static 'images/logo-wikilegis-text.svg' %}">
      </div>
      <div class="banner__info">
        <h1 class="banner__header">{% trans "Your legislative editing tool" %}</h1>
        <p class="banner__text">
          {% trans "Check the bills and contribute suggestions of new wordings to articles or paragraphs. The rapporteurs of the bills track the participation and can take up your idea!" %}
        </p>
        <p class="banner__text">
          {% trans "With this interaction, society profits by participating more actively in the legislative process, and the Parliament profits by approving improved laws that are better attuned to citizens needs." %}
        </p>
      </div>
    </div>
  </div>

  <ul class="wikilegis__bill-list" data-drawer-close="bill">
    {% for bill in open_bills %}
      {% include "bill/_list-item.html" with bill=bill %}
    {% endfor %}
    {% for bill in closed_bills %}
      {% include "bill/_list-item.html" with bill=bill %}
    {% endfor %}
  </ul>

  <div class="wikilegis__bill">
    <div class="bill__info-wrapper">
      <div class="loader" data-loading="false"></div>
    </div>

    <div class="bill__content-wrapper">
      <a class="content__close" data-drawer-close="bill" role="button" title="{% trans 'back' %}" tabindex="0">
        <i class="close__icon icon icon-arrow-left"></i>
      </a>
      <div class="loader" data-loading="false"></div>

      <div class="segment-add">
        <span class="segment-add__line"></span>
        <i class="segment-add__icon icon icon-plus"></i>
        <span class="segment-add__line"></span>
      </div>
    </div>

    {% include "bill/_amendment_wrapper.html" %}

  </div>
</main>
{% endblock content %}
