{% extends "base.html" %}

{% load static %}

{% block content %}
    <nav class="main-nav hide-on-med-and-up">
        <ul class="right hide-on-med-and-down">
            <li><a href="#!">Este é um item do menu</a>
            </li>
            <li><a href="#!">Este é um item do menu</a>
            </li>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li><a href="#!">Este é um item do menu</a>
            </li>
            <li><a href="#!">Este é um item do menu</a>
            </li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>

    <div class="row main">
        <div class="col m2 main-menu hide-on-small-only">
            {% include "_logo.html" %}
        </div>

        <a href="{% url 'show_bill' segment.bill.id %}">
            <div class="col m2 pl-description back">
                <div class="circle">
                    <div class="pl-icon"><i class="medium material-icons">description</i>
                    </div>
                </div>
                <h5 class="pl-title">{{ segment.bill.title }}</h5>
            </div>
        </a>

        <div class="col m8 pl-full">
            <div class="bah">
                <div class="article-head">
                    <div class="quote-s"></div>
                    <div class="article-content flow-text">
                        <span class="article-content">{{ segment.content }}</span>
                    </div>
                    <div class="quote-f"></div>
                </div>
                <div class="interact">
                    <ul>
                        <li><a href="#"><i class="material-icons">done</i> Aprovar</a>
                        </li>
                        <li> | </li>
                        <li><a href="{% url 'create_amendment' segment.bill.id segment.id %}"><i class="material-icons">wb_incandescent</i> Propor</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row">
                <div id="thelist" class="col s12 tabs-content">
                    <!-- pls fix -->
                    <h5>Propostas</h5>
                    <br />

                    {% for amendment in segment.amendments.all %}
                        <div class="proposal">
                            <div class="avatr">
                                <div class="pic" style="background-image: url('{% static "img/user.png" %}')"></div>
                            </div>

                            <div class="content">
                                <span class="author"><span class="user">{% with user=amendment.author %}{% include "_user_display_name.html" %}{% endwith %}</span> propôs:</span>
                                <p class="pp">
                                    {{ amendment.content }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
