<div class="amendment__actions">
  <div class="actions__vote" role="button" tabindex="0">
    <i class="vote__icon icon icon-thumbs-up"></i>
    <span class="vote__count">{{amendment.upvote_count}}</span>
  </div>

  <div class="actions__vote" role="button" tabindex="0">
    <i class="vote__icon icon icon-thumbs-down"></i>
    <span class="vote__count">{{amendment.downvote_count}}</span>
  </div>

  <div
    class="actions__comments"
    data-collapsible="amendment-comments"
    data-collapsible-open="false"
    data-param="{{amendment_type}}/{{amendment.id}}"
    data-amendment-comments="{{amendment.id}}"
    role="button"
    tabindex="0"
  >
    <i class="comments__icon icon icon-comments"></i>
    <span class="comments__text">COMENTÁRIOS ({{amendment.comments_count}})</span>
  </div>
</div>
