{% load i18n %}

<div class="segment__comments-content" data-collapsible-content="segment-comments">
  <ol class="amendment__comments" data-collapsible-content="amendment-comments" data-comments-list>
    {% for comment in amendment.comments.all %}
      {% include "segment/_comment.html" with comment=comment %}
    {% endfor %}
  </ol>
  {% if request.user.is_authenticated and not amendment.bill_is_closed %}
    <form class="comments__form" action="/test" data-comments-form="true">
      <input class="form__input" name="text" type="text" placeholder="{% trans 'Type your comment' %}" />
      <button class="form__btn">{% trans 'Send' %}</button>
    </form>
  {% elif amendment.bill_is_closed %}
    <div class="comments__form">
      <p>{% trans "This project is closed for participations." %}</p>
    </div>
  {% else %}
    <div class="comments__form">
        <p>{% blocktrans %}You must be logged to comment.{% endblocktrans %}</p>
    </div>
  {% endif %}
</div>
