<div class="amendments__content--{{amendment_type}}"
    data-segment-id="{{segment.id}}"
    data-object-type="{{amendment_type}}"
    data-segment-content="{{segment.content|safe}}"
    data-tab-container >
  <p class="content__text" >
    <strong>{{segment.segment_type.presentation_name}} {{segment.number}}</strong>
    <span data-diff-wrapper>
      {{segment.content|safe}}
    </span>
  </p>

  <ol class="content__amendments" data-amendments-wrapper>
    {% for amendment in amendments %}
      {% include "amendments/_item.html" with amendment_type=amendment_type amendment=amendment %}
    {% endfor %}
  </ol>

  <form class="amendments__form" action="/test" data-amendments-form>
    <input class="form__input" name="text"
      type="text"
      placeholder="Insira sua emenda"
      data-{{amendment_type}}-amendment-input />
    <button class="form__btn">Enviar</button>
  </form>
</div>
