{% load wikilegis_utils %}

<div class="amendments__content--{{amendment_type}}"
    data-segment-id="{{segment.id}}"
    data-object-type="{{amendment_type}}"
    data-segment-content="{{segment.content|safe}}"
    data-tab-container >
  <p class="content__text" >
    <strong>{{segment.segment_type.presentation_name}} {{segment.number}}</strong>
    <span data-diff-wrapper>
      {{segment.content|safe}}
    </span>
  </p>
  {% if amendment_type == 'additive' %}
    <p class="content__text" data-additive-preview>
    </p>
  {% endif %}

  <ol class="content__amendments" data-amendments-wrapper>
    {% for amendment in amendments %}
      {% include "amendments/_item.html" with amendment_type=amendment_type amendment=amendment %}
    {% endfor %}
  </ol>

  {% if request.user.is_authenticated and segment.bill.status != 'closed' %}
    <form class="amendments__form" action="/test" data-amendments-form>
      {% if amendment_type == 'additive' %}
        {% get_segment_types as segment_types %}
        <select name="segment_type" id="segment_type" required data-{{amendment_type}}-amendment-select>
          <option value="{{segment.segment_type.id}}">{{segment.segment_type.presentation_name}}</option>
          {% for segment_type in segment_types %}
            <option value="{{segment_type.id}}">{{segment_type.presentation_name}}</option>
          {% endfor %}
        </select>
      {% endif %}
      <input class="form__input" name="content"
        type="text"
        placeholder="Insira sua emenda"
        data-{{amendment_type}}-amendment-input />
      <button class="form__btn">Enviar</button>
    </form>
  {% elif segment.bill.status == 'closed' %}
    <div class="amendments__form">
      <p>Esse projeto já está encerrado para participações.</p>
    </div>
  {% else %}
    <div class="amendments__form">
      <p>Você precisa estar logado para sugerir uma emenda. Clique <a href="">aqui</a> para fazer login.</p>
    </div>
  {% endif %}
</div>
