{% load wikilegis_utils i18n %}

<div class="amendments__content--{{amendment_type}}"
    data-segment-id="{{segment.id}}"
    data-object-type="{{amendment_type}}"
    data-segment-content='{{segment.content|safe}}'
    data-tab-container
    data-remove-content >

  <div class="content__amendments">
    <ol class="content__amendments-list" data-amendments-wrapper>
      {% for amendment in amendments %}
        {% include "amendments/_item.html" with amendment_type=amendment_type amendment=amendment %}
      {% endfor %}
    </ol>
  </div>

  {% if segment.bill.status == 'published' %}
    <a class="button--{{amendment_type}}-amendment amendments__suggest-button animate"
      data-form-open="{{amendment_type}}"
      {% if not request.user.is_authenticated %}data-not-authenticated{% endif %} >
      {{button_text}}
    </a>
  {% elif segment.bill.status == 'closed' %}
    <div class="amendments__closed-message">
      <p class="amendments__closed-text">{% trans "This project is closed for participations." %}</p>
    </div>
  {% endif %}

  {% if request.user.is_authenticated and segment.bill.status != 'closed' %}
    <div class="amendments__form-wrapper">
      <a class="amendments__form-close" data-form-close title="{% trans 'Close form' %}"><i class="form-close__icon icon icon-chevron-down"></i></a>

      {% include "amendments/_segment.html" %}

      {% if amendment_type == 'additive' %}
        <p class="content__text" data-additive-preview>
        </p>
      {% endif %}


      <form class="amendments__form" action="/test" data-amendments-form>
        {% if amendment_type == 'additive' %}
          {% get_segment_types as segment_types %}
          <select name="segment_type" id="segment_type" required data-{{amendment_type}}-amendment-select>
            <option value="{{segment.segment_type.id}}">{{segment.segment_type.presentation_name}}</option>
            {% for segment_type in segment_types %}
              <option value="{{segment_type.id}}">{{segment_type.presentation_name}}</option>
            {% endfor %}
          </select>
        {% endif %}

        <input class="form__input" name="content"
          type="text"
          placeholder="{{form_placeholder}}"
          data-{{amendment_type}}-amendment-input />
        <button class="form__btn">{% trans 'Send' %}</button>
      </form>
    </div>
    {% endif %}
</div>
