$swift-out: cubic-bezier(.55, 0, .1, 1);

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes slide-in {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes slide-in-form-button {
  0% { transform: translate(-50%, calc(110% + 2em)); }
  25% { transform: translate(-50%, calc(110% + 2em)); }
  100% { transform: translate(-50%, 0); }
}