{% extends "base.html" %}

{% load static humanize i18n %}
{% load highlight %}
{% load render_field from wl_forms %}

{% block content %}
<div class="row main">
    <div class="col m2 main-menu hide-on-small-only">
        {% include "_sidebar_logo.html" %}
    </div>
    <div class="col m10 pageSearch">
        <!-- <h4>Search</h4> -->

        
        <div class="content">
            <div class="row search">
                <nav class="col m6">
                    <div class="nav-wrapper">
                        <div class="input-field">
                        <form method="get" action=".">
                            {% render_field form.q type="search" required=True %}
                            <label for="{{ form.q.id }}"><i class="material-icons">search</i></label>
                        </form>
                        </div>
                    </div>
                </nav>
            </div>


            <div class="col m7 results">
                {% if query %}
                    {% for result in page.object_list %}
                        <div class="result-item">
                            <h5><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h5>
                            <p>{% highlight result.object.content with query max_length 180 %}</p>
                        </div>
                    {% empty %}
                        <p>No results found.</p>
                    {% endfor %}

                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}