{% load convert_numbers %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="col m12 pl-full">
        <p>Olá!?</p>

        <p>Usuários do Wikilegis fizeram sugestões ao</p>

        <h3>{{ bill }}{% if proposition %} - {{ proposition }}{% endif %}</h3>
        {% if amendments %}
        <hr>
            {% if amendments|length == 1 %}
            <h3>Nova sugestão de alteração</h3>
            {% else %}
            <h3>Novas sugestões de alteração</h3>
            {% endif %}
            {% for segment, amendment_list in amendments.items %}
                <h4><b>Trecho original:</b></h4>
                <blockquote style="color: #1B5E20"><b>{% segment_numbering segment %} {{ segment.content }}</b>
                    <a href="http://{{ domain }}{{ segment.get_absolute_url }}">Acesse clicando aqui</a></blockquote>
                {% if amendment_list|length == 1 %}
                <h4>Uma nova sugestão de redação:</h4>
                {% else %}
                <h4>{{ amendment_list|length }} novas sugestões de redação:</h4>
                {% endif %}
                {% for amendment in amendment_list %}
                <blockquote style="color: #228B22">{{ amendment.content|safe }}
                    <span style="color: #666666"> - {{ amendment.author }} </span>
                    <a href="http://{{ domain }}{{ amendment.get_absolute_url }}">Acesse clicando aqui</a>
                </blockquote>
                {% endfor %}
            {% endfor %}
            <br>
            <br>
        {% endif %}
        {% if comments %}
        <hr>
            {% if comments|length == 1 %}
            <h3>Novo comentário</h3>
            {% else %}
            <h3>Novos comentários</h3>
            {% endif %}
            {% for key, value_list in comments.items %}
                {% if value_list|length == 1 %}
                <h4>Um comentário para a sugestão de alteração:</h4>
                <i style="color: #228B22">{{ key.content }}<span style="color: #666666"> - {{ key.author }} </span></i>
                {% else %}
                <h4>{{ value_list|length }} novos comentários para a sugestão de alteração:</h4>
                <i style="color: #228B22">{{ key.content }}<span style="color: #666666"> - {{ key.author }} </span></i>
                {% endif %}
                {% for comment in value_list %}
                    <blockquote style="color: #d8730a">{{ comment.comment }}
                        <span style="color: #666666"> - {{ comment.user.get_display_name }} </span>
                    <a href="http://{{ domain }}{{ key.get_absolute_url }}">Acesse clicando aqui</a></blockquote>
                {% endfor %}
            {% endfor %}
            <br>
            <br>
        {% endif %}
        {% if top_amendments %}
        <hr>
            {% if top_amendments|length == 1 %}
            <h4>Os usuários do wikilegis apoiam esta redação mais do que a original:</h4>
            {% else %}
            <h4>Os usuários do wikilegis apoiam estas redações mais do que a original:</h4>
            {% endif %}
            {% for top in top_amendments %}
                <blockquote style="color: #228B22">{{ top.content|safe }}
                    <span style="color: #666666"> - {{ top.author }} </span>
                    <a href="http://{{ domain }}{{ top.get_absolute_url }}">Acesse clicando aqui</a>
                </blockquote>
            {% endfor %}
        {% endif %}
        </div>
    </body>
</html>