{% load staticfiles i18n %}

<div class="wikilegis__error-no-mobile">
  <img class="error-no-mobile__image" src="{% static 'images/wait-mobile.svg' %}">
  <div class="error-no-mobile__message-wrapper--mobile">
    <h1 class="error-no-mobile__message-title">{% trans "Hey! We're still working on a view for Wikilegis under small screen devices." %}</h1>
    <h2 class="error-no-mobile__message-text">{% trans "While we work on delivering that soon, you may enjoy the full experience heading over to your desktop computer. Thank you" %} :)</h2>
  </div>

  <div class="error-no-mobile__message-wrapper--desktop">
    <h1 class="error-no-mobile__message-title">{% trans "Hey! We're still working on a view for Wikilegis under small screen sizes." %}</h1>
    <h2 class="error-no-mobile__message-text">{% trans "While we work on delivering that soon, you may enjoy the full experience by resizing your window. Thank you" %} :)</h2>
  </div>
</div>