{% extends "base_with_sidebar.html" %} {% load static humanize i18n %} {% block content2 %}
<div class="pl-title back">
    <div class="container">
        <a href="{% url 'show_bill' segment.bill.id %}">
            <div class="row valign-wrapper">
                <div class="col s2 l1">
                    <div class="circle {% if segment.bill.status = 'closed' %}border-red{% endif %} valign-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="256px" height="30px" viewBox="0 0 199.404 199.404" style="enable-background:new 0 0 199.404 199.404;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="60573" data-kw="left207">
                            <g>
                                <polygon points="135.412,0 35.709,99.702 135.412,199.404 163.695,171.119 92.277,99.702 163.695,28.285  "></polygon>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="col s10 l11">
                    <h4 class="pl-title">{{ segment.bill.title }}</h4>
                    {% if segment.bill.status = "closed" %}
                      <h4 class="pl-title closed"> ({% trans "Participations Closed" %})</h4>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
</div>
{% block content3 %}{% endblock %} {% endblock %}