{% if segment.type.editable == False %}
<h5>{{ segment.content }}</h5>
{% else %}
<a class="bill-link" href="{% url 'show_segment' bill.id segment.id %}">
    <div class="article" id="segment-{{ segment.id }}">
        <div class="comments-counter">
            <div class="cn">
                <div class="cc-holder">
                    <i class="material-icons">mode_comment</i>
                    <div class="n">
                        {{ segment.substitutes.all.count }}
                    </div>
                </div>                
            </div>
        </div>        
        <div>
            {{ segment.type.abbreviation }} {{ segment.number}}
        </div>
        <div class="content">
            <span class="article-content">
                {{ segment.content|linebreaks }}
            </span>
        </div>
    </div>
</a>
{% endif %}