{% extends "bill/_base.html" %}

{% load static %}
{% load i18n %}
{% load render_comments from comments2 %}
{% load helpers %}
{% load count_votes %}

{% block content3 %}
    <div class="col m8 pl-full">
        <div class="bah">
            <div class="article-head">
                {% if user.is_authenticated %}
                <div id="id_segment_up_down_vote">
                    <ul>
                        <li>
                            {% if request.user.id in segment.votes_segment.all|up_vote %} * {% endif %}
                            {{ segment.votes_segment.all|up_votes_count }} <button onclick="upDownVote({{ segment.id }}, 'segment', 'up')">Up Vote</button>
                        </li>
                        <li>
                            {% if request.user.id in segment.votes_segment.all|down_vote %} * {% endif %}
                            {{ segment.votes_segment.all|down_votes_count }} <button onclick="upDownVote({{ segment.id }}, 'segment', 'down')">Down Vote</button>
                        </li>
                    </ul>
                </div>
                {% endif %}
                <div class="quote-s"></div>
                <div class="article-content flow-text">
                    <span id="original" class="article-content" data-raw-content="{{ segment.content }}">{{ segment.content|linebreaks }}</span>
                </div>
                <div class="quote-f"></div>
            </div>

            <div class="pl-author">
                <div class="avatr">
                    <div class="pic" style="background-image: url('/static/img/user.png')"></div>
                </div>
                <div class="info">
                    <span class="author">{{ author.user }}</span>
                </div>
            </div>
          
            <div class="interact">
                <ul>
                    <li>
                        {% include "bill/_choosing_button_2.html" %}
                    </li>
                    <li> | </li>
                    <li><a href="{% url 'create_amendment' segment.bill.id segment.id %}"><i class="material-icons">edit</i> {% trans "Change" %}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col s12 tabs-content">
                <!-- pls fix -->
                <!--<h5>{% trans "Proposals" %}</h5>-->
                <br />

                {% for amendment in segment.amendments.all %}
                    <br />
                    <div class="proposal" id="amendment-{{ amendment.pk }}">
                    {% if user.is_authenticated %}
                        <div id="id_amendment-{{ amendment.pk }}_up_down_vote">
                            <ul>
                                <li>
                                    {% if request.user.id in amendment.votes_amendment.all|up_vote %} * {% endif %}
                                    {{ amendment.votes_amendment.all|up_votes_count }} <button onclick="upDownVote({{ amendment.id }}, 'amendment', 'up')">Up Vote</button>
                                </li>
                                <li>
                                    {% if request.user.id in amendment.votes_amendment.all|down_vote %} * {% endif %}
                                    {{ amendment.votes_amendment.all|down_votes_count }} <button onclick="upDownVote({{ amendment.id }}, 'amendment', 'down')">Down Vote</button>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                        <div class="avatr">
                            <div class="pic" style="background-image: url('{% static "img/user.png" %}')"></div>
                        </div>

                        <div class="content" data-raw-content="{{ amendment.content|escape }}">
                            <span class="author"><span class="user">{% with user=amendment.author %}{% include "auth2/_user_display_name.html" %}{% endwith %}</span> {% trans "proposed:" %}</span>
                            <div class="pp">
                                {{ amendment.content|linebreaks }}
                            </div>
                            <div class="right-align">
                                {% include "bill/_choosing_button_2.html" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s11 offset-s1">
                            {% render_comments amendment %}
                        </div>
                    </div>
                {% empty %}
                    <span>Empty</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block partialscript %}
    <script type="text/javascript">
        $(function() {
            var original = $('#original').attr('data-raw-content');
            $('.proposal .content').each(function(i, cur) {
                var $cur = $(cur);
                var current = $cur.attr('data-raw-content');
                $cur.find('.pp').html(changesToMarkup(wlDiff(original, current)));
            });
        });
    </script>
    {% if user.is_authenticated %}
    <script type="text/javascript">
        function upDownVote(object_id, model, vote){
            var url = '{% url 'up_down_vote' request.user.id 0 'param2' 'param3' %}';
            url = url.replace('0', object_id).replace('param2', model).replace('param3', vote);
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    if(model=='segment'){
                        $("#id_segment_up_down_vote").html(data);
                    }
                    if(model=='amendment'){
                        $("#id_amendment-"+object_id+"_up_down_vote").html(data);
                    }
                },
                error: function (data) {
                    alert("Ocorreu um erro, por favor, tente novamente.");
                }
            });
        }
    </script>
    {% endif %}
{% endblock %}
