{% extends "bill/_base.html" %}

{% load static %}
{% load i18n %}
{% load render_materialized_field from wl_forms %}


{% block content3 %}
    <div class="col m8 pl-full">
        <div class="row">
            <h4>{% trans "Send proposal" %}</h4>

            <form class="col s12" action="./" method="POST">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="row propose">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        {% render_materialized_field form.content extra_classes="materialize-textarea" data_original_content=form.initial.content|escape %}
                    </div>
                </div>

                <div class="row" id="preview">
                    <div class="input-field col s11 offset-s1">
                        <div id="preview-content">{{ form.initial.content|linebreaksbr }}</div>
                    </div>
                </div>

                <br /><p></p>

                <div class="row">
                    <div class="col s11 offset-s1">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">comment</i>
                            {% render_materialized_field form.comment extra_classes="materialize-textarea" %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 right-align">
                        <a class="btn waves-effect waves-light" href="{% url "show_segment" segment.bill.id segment.id %}">{% trans "Cancel" %}</a>
                        <button class="btn waves-effect waves-light" type="submit" name="action">{% trans "Send proposal" %}
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block partialscript %}
    <script type="text/javascript">
        $(function() {
            function refreshPreview(e) {
                var $ta = $(e.target);
                var current = $ta.val();
                var original = $ta.attr('data-original-content');
                var changes = wlDiff(original, current);
                $('#preview-content').html(changesToMarkup(changes));
            }

            $("#{{ form.content.id_for_label }}")
                    // TODO Deal with paste events.
                    .on('focus change keyup propertychange', _.debounce(refreshPreview, 100))
                    .focus();
        });
    </script>
{% endblock %}