{% load votes %}

{% get_user_vote_for user segment as segment_user_vote  %}
<div class="wikilegis-widget__action wikilegis-widget__action--vote wikilegis-widget__action--upvote {% if segment_user_vote == True %}voted{% endif %}" role="button" tabindex="0">
  <i class="wikilegis-widget__action-icon material-icons">thumb_up</i>
  <span class="wikilegis-widget__action-text"><span class="wikilegis-widget__action-count">{% get_upvote_count segment %}</span></span>
</div>
<div class="wikilegis-widget__action wikilegis-widget__action--vote wikilegis-widget__action--downvote {% if segment_user_vote == False %}voted{% endif %}" role="button" tabindex="0">
  <i class="wikilegis-widget__action-icon material-icons">thumb_down</i>
  <span class="wikilegis-widget__action-text"><span class="wikilegis-widget__action-count">{% get_downvote_count segment %}</span></span>
</div>