{% load votes comments i18n %}

{% for amendment in segment.substitutes.all %}
  <div class="wikilegis-widget__action-box-item wikilegis-widget__action-box-item--amendment" data-segment-id="{{amendment.id}}">

    <div class="wikilegis-widget__action-box-wrapper">

      <div class="wikilegis-widget__actions wikilegis-widget__actions--votes">
        {% include "widget/_action_votes.html" with segment=amendment user=user %}
      </div>

      <div class="wikilegis-widget__action-box-content-wrapper">
        <div class="wikilegis-widget__action-box-info">
          <i class="wikilegis-widget__action-icon material-icons">note_add</i>
          <span class="wikilegis-widget__span wikilegis-widget__span--by">Por </span>
          <span class="wikilegis-widget__span wikilegis-widget__span--author">{{amendment.author}}</span>
          <span class="wikilegis-widget__span wikilegis-widget__span--date">em {{amendment.created|date:"d/m/Y"}}</span>
        </div>

        <div class="wikilegis-widget__action-box-content">
          <p class="wikilegis-widget__segment-text wikilegis-widget__segment-text--amendment">
            {{amendment.content|safe}}
          </p>
        </div>

        <div class="wikilegis-widget__actions wikilegis-widget__actions--user-content">
          <div class="wikilegis-widget__action wikilegis-widget__action--comments wikilegis-widget__action--amendment" role="button" tabindex="0" data-segment-id="{{amendment.id}}">
            <i class="wikilegis-widget__action-icon material-icons">forum</i>
            {% get_comment_count for amendment as comment_amendment_count %}
            <span class="wikilegis-widget__action-text">
              <span class="wikilegis-widget__action-count comments">{{comment_amendment_count}}</span>
              <span class="wikilegis-widget__action-text-label"> Comentários</span>
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="wikilegis-widget__action-box wikilegis-widget__action-box--comments" data-segment-id="{{amendment.id}}" data-bill-id="{{object.id}}">
      <div class="wikilegis-widget__action-box--comments-wrapper">
        {% include "widget/_segment_comments.html" with segment=amendment %}
      </div>
      <div class="wikilegis-widget__action-box-input">
        <span class="wikilegis-widget__span wikilegis-widget__span--action-box-input">Escreva um comentário:</span>
        {% if user.is_authenticated %}
          <textarea onkeydown="auto_grow(this)" class="wikilegis-widget__input wikilegis-widget__input--textarea" name="" id="" placeholder="Insira um comentário sobre esta proposta"></textarea>
          <button class="wikilegis-widget__button wikilegis-widget__button--action-box comment" id="">Enviar comentário</button>
        {% else %}
          <a href="{% url 'widget_login' %}?next={% url 'widget' object.id %}" class="wikilegis-widget__button wikilegis-widget__button--login">{% trans "Please log in to comment" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% empty %}
  <span class="wikilegis-widget__span wikilegis-widget__span--empty-action">Nenhuma emenda foi sugerida até o momento. Seja o primeiro!</span>
{% endfor %}