{% load static compress %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Wikilegis Widget</title>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
      {% compress css %}
          <link type="text/x-scss" rel="stylesheet" href="{% static "sass/widget-2.0.scss" %}" media="screen,projection"/>
      {% endcompress %}
  </head>
  <body>

    {% block content %}

    {% endblock content %}

    {% compress js %}
        <script type="text/javascript" src="{% static "js/jquery-2.1.4.js" %}"></script>
        <script type="text/javascript" src="{% static "js/widget-2.0.js" %}"></script>
        <script type="text/javascript" src="{% static "js/lodash.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/diff.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/widget-scripts.js" %}"></script>
    {% endcompress %}

    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>