{% extends "widget/base.html" %}
{% load static convert_numbers compress votes comments segments i18n %}
{% block content %}
  <div class="wikilegis-widget">
    <div class="wikilegis-widget__top-bar">
      <div class="wikilegis-widget__login">
        <a href="{% url 'widget_login' %}" class="wikilegis-widget__button wikilegis-widget__button--login">Fazer Login</a>
      </div>
    </div>
    <div class="wikilegis-widget__signup"></div>
    <img class="wikilegis-widget__logo wikilegis-widget__logo--wikilegis" src="">
    <div class="wikilegis-widget__bill-wrapper">
      <div class="wikilegis-widget__header">
        <h1 class="wikilegis-widget__heading wikilegis-widget__heading--title">{{object.title}}</h1>
        <h4 class="wikilegis-widget__heading wikilegis-widget__heading--epigraph">{{object.epigraph}}</h4>
        <a class="wikilegis-widget__link wikilegis-widget__link--header" target="_blank" href="{% url 'show_bill' object.id %}">Ver o Projeto de Lei no Wikilegis</a>
        <p class="wikilegis-widget__paragraph wikilegis-widget__paragraph--resume">
          {{object.description}}
        </p>
      </div>
      {% for segment in object.segments.all %}
        {% if segment.original %}
          {% if segment.type.name|slugify == 'titulo' %}
              <h5 class="heading livro" id="title-{{segment.id}}">{% trans "TITLE" %} <span class="heading-number">{% segment_numbering segment %}</span> <span class="heading-title">{{ segment.content }}</span></h5>
          {% elif segment.type.name|slugify == 'livro' %}
              <h5 class="heading livro" id="book-{{segment.id}}">{% trans "BOOK" %} <span class="heading-number">{% segment_numbering segment %}</span> <span class="heading-title">{{ segment.content }}</span></h5>
          {% elif segment.type.name|slugify == 'capitulo' %}
              <h5 class="heading capitulo" id="chapter-{{segment.id}}">{% trans "CHAPTER" %}  <span class="heading-number">{% segment_numbering segment %}</span> <span class="heading-title">{{ segment.content }}</span></h5>
          {% elif segment.type.name|slugify == 'secao' %}
              <h5 class="heading secao" id="section-{{segment.id}}">{% trans "Section" %} <span class="heading-number">{% segment_numbering segment %}</span> <span class="heading-title">{{ segment.content }}</span></h5>
          {% elif segment.type.name|slugify == 'subsecao' %}
              <h5 class="heading subsecao" id="subsection-{{segment.id}}">{% trans "Subsection" %} <span class="heading-number">{% segment_numbering segment %}</span> <span class="heading-title">{{ segment.content }}</span></h5>
          {% else %}
            <div class="wikilegis-widget__segment wikilegis-widget__segment--original wikilegis-widget__segment--{{ segment.type|slugify }}" data-segment-id="{{segment.id}}">

              <div class="wikilegis-widget__segment-content">

                <div class="wikilegis-widget__segment-content-wrapper">

                  <div class="wikilegis-widget__actions wikilegis-widget__actions--votes">
                    {% include "widget/_action_votes.html" with segment=segment user=request.user %}
                  </div>

                  <div class="wikilegis-widget__segment-text-wrapper">
                    <span class="wikilegis-widget__segment-number">{% segment_numbering segment %}</span>
                    <p class="wikilegis-widget__segment-text wikilegis-widget__segment-text--original">
                      {{segment.content|safe}}
                    </p>
                    <div class="wikilegis-widget__actions wikilegis-widget__actions--user-content">
                      <div class="wikilegis-widget__action wikilegis-widget__action--comments" role="button" tabindex="0" data-segment-id="{{segment.id}}">
                        <i class="wikilegis-widget__action-icon material-icons">forum</i>
                        {% get_comment_count for segment as comment_segment_count %}
                        <span class="wikilegis-widget__action-text">
                          <span class="wikilegis-widget__action-count comments">{{comment_segment_count}}</span>
                          <span class="wikilegis-widget__action-text-label"> Comentários</span>
                        </span>
                      </div>
                      <div class="wikilegis-widget__action wikilegis-widget__action--amendments" role="button" tabindex="0" data-segment-id="{{segment.id}}">
                        <i class="wikilegis-widget__action-icon material-icons">note_add</i>
                        <span class="wikilegis-widget__action-text">
                          <span class="wikilegis-widget__action-count amendments">{{segment|amendments_count}}</span>
                          <span class="wikilegis-widget__action-text-label"> Emendas</span>
                        </span>
                      </div>
                      <a class="wikilegis-widget__link wikilegis-widget__link--actions" target="_blank" href="{% url 'show_segment' object.id segment.id %}">Ver artigo no Wikilegis</a>
                    </div>
                  </div>

                </div>

              </div>

              <div class="wikilegis-widget__action-box wikilegis-widget__action-box--comments" data-segment-id="{{segment.id}}" data-bill-id="{{object.id}}">
                <div class="wikilegis-widget__action-box--comments-wrapper">
                  {% include "widget/_segment_comments.html" with segment=segment %}
                </div>
                <div class="wikilegis-widget__action-box-input">
                  <span class="wikilegis-widget__span wikilegis-widget__span--action-box-input">Escreva um comentário:</span>
                  <textarea onkeydown="auto_grow(this)" class="wikilegis-widget__input wikilegis-widget__input--textarea" name="" id="" placeholder="Insira um comentário sobre a emenda original"></textarea>
                  <button class="wikilegis-widget__button wikilegis-widget__button--action-box comment" id="">Enviar comentário</button>
                </div>
              </div>
                <div class="wikilegis-widget__action-box wikilegis-widget__action-box--amendments" data-segment-id="{{segment.id}}" data-bill-id="{{object.id}}">
                  <div class="wikilegis-widget__action-box--amendments-wrapper">
                    {% include "widget/_amendments.html" with segment=segment user=request.user %}
                  </div>
                  <div class="wikilegis-widget__action-box-input">
                    <span class="wikilegis-widget__span wikilegis-widget__span--action-box-input">Sugira uma nova emenda:</span>
                    <textarea onkeydown="auto_grow(this)" class="wikilegis-widget__input wikilegis-widget__input--textarea amendment" name="" id="" placeholder="Escreva aqui uma nova emenda tomando a original como base"></textarea>
                    <button class="wikilegis-widget__button wikilegis-widget__button--action-box amendment" id="">Enviar nova emenda</button>
                  </div>
                </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% endblock content %}

  {% block extra_js %}
    <script>
      function updateActionGroupHTML(voteButton, data) {
        var actionGroup = voteButton.closest('.wikilegis-widget__actions--votes');
        actionGroup.html(data.html);
      }
      function showError(data) {
        alert(data.statusText);
      }
      function voteClick() {
        var upvote = $(this).hasClass('wikilegis-widget__action--upvote');
        var voted = $(this).hasClass('voted');
        var voteButton = $(this);
        var segment = $(this.closest("[data-segment-id]"));
        var segmentId = segment.data('segment-id');
        var url = '{% url "widget_vote" 0 %}'.replace(0, segmentId);
        if ((voted && upvote) || (voted && !upvote)) {
          $.ajax({url: url,type: 'DELETE',
            success: function(data) {
              updateActionGroupHTML(voteButton, data);
            },
            statusCode: {403: showError}
          })
        } else if (!voted && upvote) {
          $.ajax({url: url, type: 'POST', data: {vote: true},
            success: function(data) {
              updateActionGroupHTML(voteButton, data);
            },
            statusCode: {403: showError}
          })
        } else if (!voted && !upvote) {
          $.ajax({url: url, type: 'POST', data: {vote: false},
            success: function(data) {
              updateActionGroupHTML(voteButton, data);
            },
            statusCode: {403: showError}
          })
        }
      }
      function sendComment() {
        var segment = $(this).closest("[data-segment-id]");
        var parent = $(this).closest('.wikilegis-widget__segment--original');
        var segmentId = segment.data('segment-id');
        var commentArea = $(this).siblings('.wikilegis-widget__input--textarea');
        var commentWrapper = segment.find('.wikilegis-widget__action-box--comments-wrapper');
        if (commentArea.val() === '') {
          alert('comenta ai cara!');
        } else {
          var url = '{% url "widget_comment" 0 %}'.replace(0, segmentId);
          $.ajax({url: url, type: 'POST', data: {comment: commentArea.val()},
            success: function(data) {
              commentWrapper.html(data.html);
              commentArea.val('');
              var counter = parent.find('.wikilegis-widget__action-count.comments').first();
              counter.addClass('translatey--bottom');
              counter.on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', function() {
                counter.text(data.count);
                $(this).removeClass('translatey--bottom');
              })
            },
            statusCode: {403: showError}
          })
        }
      }
      function sendAmendment() {
        var segment = $(this).closest("[data-segment-id]");
        var parent = $(this).closest('.wikilegis-widget__segment--original');
        var originalText = parent.find('.wikilegis-widget__segment-text--original').text();
        var segmentId = parent.data('segment-id');
        var amendmentArea = $(this).siblings('.wikilegis-widget__input--textarea');
        var amendmentWrapper = segment.find('.wikilegis-widget__action-box--amendments-wrapper');
        if (amendmentArea.val() === '') {
          alert('propoe uma emenda ai djow!');
        } if (amendmentArea.val() === originalText.trim()) {
          alert('voce nao está propondo nada, cara')
        } else {
          var url = '{% url "widget_amendment" 0 %}'.replace(0, segmentId);
          $.ajax({url: url, type: 'POST', data: {amendment: amendmentArea.val()},
            success: function(data) {
              amendmentWrapper.html(data.html);
              amendmentArea.blur();
              amendmentArea.val('');
              amendmentArea.one('focus', initialAmendmentText);
              var counter = parent.find('.wikilegis-widget__action-count.amendments').first();
              counter.addClass('translatey--bottom');
              counter.on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', function() {
                counter.text(data.count);
                $(this).removeClass('translatey--bottom');
              });
              amendmentWrapper.find('.wikilegis-widget__segment-text--amendment').each(function() {
                $(this).html(changesToMarkup(wlDiff(originalText.trim(), $(this).text())));
              })
            },
            statusCode: {403: showError}
          })
        }
      }
      function initialAmendmentText() {
        var parent = $(this).closest('.wikilegis-widget__segment--original');
        var originalText = parent.find('.wikilegis-widget__segment-text--original').text();
        if ($(this).val() === '') {
          $(this).val(originalText.trim());
        }
      }

      $(document).ready(function() {
        $('body').on('click', '.wikilegis-widget__action--vote', voteClick);
        $('body').on('click', '.wikilegis-widget__button--action-box.comment', sendComment);
        $('body').on('click', '.wikilegis-widget__button--action-box.amendment', sendAmendment);
        $('body').on('click', '.wikilegis-widget__input--textarea.amendment', initialAmendmentText);
      })
    </script>
  {% endblock extra_js %}