{% extends "widget/base.html" %}
{% load static convert_numbers compress votes comments segments i18n %}
{% block content %}
  <div class="wikilegis-widget">
    <div class="wikilegis-widget__login">
      Daew
      <button class="wikilegis-widget__button wikilegis-widget__button--login">Sair</button>
    </div>
    <div class="wikilegis-widget__signup"></div>
    <img class="wikilegis-widget__logo wikilegis-widget__logo--wikilegis" src="">
    <div class="wikilegis-widget__bill-wrapper">
      <div class="wikilegis-widget__header">
        <h1 class="wikilegis-widget__heading wikilegis-widget__heading--title">{{object.title}}</h1>
        <h4 class="wikilegis-widget__heading wikilegis-widget__heading--epigraph">{{object.epigraph}}</h4>
        <a class="wikilegis-widget__link wikilegis-widget__link--header" target="_blank" href="{% url 'show_bill' object.id %}">Ver o Projeto de Lei no Wikilegis</a>
        <p class="wikilegis-widget__paragraph wikilegis-widget__paragraph--resume">
          {{object.description}}
        </p>
      </div>
      {% for segment in object.segments.all %}
        {% if segment.original %}
          <div class="wikilegis-widget__segment wikilegis-widget__segment--original wikilegis-widget__segment--type" data-segment-id="{{segment.id}}">

            <div class="wikilegis-widget__segment-content">

              <div class="wikilegis-widget__segment-content-wrapper">

                <div class="wikilegis-widget__actions wikilegis-widget__actions--votes">
                  {% include "widget/_action_votes.html" with segment=segment user=request.user %}
                </div>

                <div class="wikilegis-widget__segment-text-wrapper">
                  <span class="wikilegis-widget__segment-number">{% segment_numbering segment %}</span>
                  <p class="wikilegis-widget__segment-text wikilegis-widget__segment-text--original">
                    {{segment.content|safe}}
                  </p>
                  <div class="wikilegis-widget__actions wikilegis-widget__actions--user-content">
                    <div class="wikilegis-widget__action wikilegis-widget__action--comments" role="button" tabindex="0" data-segment-id="{{segment.id}}">
                      <i class="wikilegis-widget__action-icon material-icons">forum</i>
                      {% get_comment_count for segment as comment_segment_count %}
                      <span class="wikilegis-widget__action-text"><span class="wikilegis-widget__action-count">{{comment_segment_count}}</span> Comentários</span>
                    </div>
                    <div class="wikilegis-widget__action wikilegis-widget__action--amendments" role="button" tabindex="0" data-segment-id="{{segment.id}}">
                      <i class="wikilegis-widget__action-icon material-icons">note_add</i>
                      <span class="wikilegis-widget__action-text"><span class="wikilegis-widget__action-count">{{segment|amendments_count}}</span> Emendas</span>
                    </div>
                    <a class="wikilegis-widget__link wikilegis-widget__link--actions" target="_blank" href="{% url 'show_segment' object.id segment.id %}">Ver artigo no Wikilegis</a>
                  </div>
                </div>

              </div>

            </div>

            <div class="wikilegis-widget__action-box wikilegis-widget__action-box--comments" data-segment-id="{{segment.id}}" data-bill-id="{{object.id}}">
              {% for comment in segment.comments.all %}
                <div class="wikilegis-widget__action-box-wrapper">
                  <div class="wikilegis-widget__action-box-info">
                    <i class="wikilegis-widget__action-icon material-icons">forum</i>
                    <span class="wikilegis-widget__span wikilegis-widget__span--by">Por </span>
                    <span class="wikilegis-widget__span wikilegis-widget__span--author">{{comment.user}}</span>
                    <span class="wikilegis-widget__span wikilegis-widget__span--date">em {{comment.submit_date|date:"d/m/Y"}}</span>
                  </div>
                  <p class="wikilegis-widget__action-box-content">{{comment.comment}}</p>
                </div>
                {% empty %}
                <span class="wikilegis-widget__span wikilegis-widget__span--empty-comment">Nenhum comentário feito até o momento. Seja o primeiro!</span>
              {% endfor %}
              <div class="wikilegis-widget__action-box-input">
                <span class="wikilegis-widget__span wikilegis-widget__span--action-box-input">Escreva um comentário:</span>
                <textarea onkeydown="auto_grow(this)" class="wikilegis-widget__input wikilegis-widget__input--textarea" name="" id="" placeholder="Insira um comentário sobre a emenda original"></textarea>
                <button class="wikilegis-widget__button wikilegis-widget__button--action-box" id="">Enviar</button>
              </div>
            </div>
              <div class="wikilegis-widget__action-box wikilegis-widget__action-box--amendments" data-segment-id="{{segment.id}}" data-bill-id="{{object.id}}">
                {% for amendment in segment.substitutes.all %}
                  <div class="wikilegis-widget__action-box-item wikilegis-widget__action-box-item--amendment">
                    <div class="wikilegis-widget__action-box-wrapper">
                      <div class="wikilegis-widget__action-box-info">
                        <i class="wikilegis-widget__action-icon material-icons">note_add</i>
                        <span class="wikilegis-widget__span wikilegis-widget__span--by">Por </span>
                        <span class="wikilegis-widget__span wikilegis-widget__span--author">{{amendment.author}}</span>
                        <span class="wikilegis-widget__span wikilegis-widget__span--date">em {{amendment.created|date:"d/m/Y"}}</span>
                        <div class="wikilegis-widget__action-box-content">
                          <p class="wikilegis-widget__segment-text wikilegis-widget__segment-text--amendment">
                            {{amendment.content|safe}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="wikilegis-widget__actions">
                      <div class="wikilegis-widget__action wikilegis-widget__action--vote" role="button" tabindex="0">
                        <i class="wikilegis-widget__action-icon material-icons">thumb_up</i>
                        <span class="wikilegis-widget__action-text"><span class="wikilegis-widget__action-count">{% get_upvote_count amendment %}</span></span>
                      </div>
                      <div class="wikilegis-widget__action wikilegis-widget__action--vote" role="button" tabindex="0">
                        <i class="wikilegis-widget__action-icon material-icons">thumb_down</i>
                        <span class="wikilegis-widget__action-text"><span class="wikilegis-widget__action-count">{% get_downvote_count amendment %}</span></span>
                      </div>
                      <div class="wikilegis-widget__action wikilegis-widget__action--comments wikilegis-widget__action--amendment" role="button" tabindex="0" data-segment-id="{{amendment.id}}" data-bill-id="{{object.id}}">
                        <i class="wikilegis-widget__action-icon material-icons">forum</i>
                        {% get_comment_count for amendment as amendment_comment_count %}
                        <span class="wikilegis-widget__action-text"><span class="wikilegis-widget__action-count">{{amendment_comment_count}}</span>Comentários</span>
                      </div>
                    </div>
                    <div class="wikilegis-widget__action-box wikilegis-widget__action-box--comments" data-segment-id="{{amendment.id}}" data-bill-id="{{object.id}}">
                      {% for comment in amendment.comments.all %}
                        <div class="wikilegis-widget__action-box-wrapper">
                          <div class="wikilegis-widget__action-box-info">
                            <i class="wikilegis-widget__action-icon material-icons">forum</i>
                            <span class="wikilegis-widget__span wikilegis-widget__span--by">Por </span>
                            <span class="wikilegis-widget__span wikilegis-widget__span--author">{{comment.user}}</span>
                            <span class="wikilegis-widget__span wikilegis-widget__span--date">em {{comment.submit_date|date:"d/m/Y"}}</span>
                          </div>
                        </div>
                          <p class="wikilegis-widget__action-box-content">{{comment.comment}}</p>
                        {% empty %}
                        <span class="wikilegis-widget__span wikilegis-widget__span--empty-comment">Nenhum comentário feito até o momento. Seja o primeiro!</span>
                      {% endfor %}
                      <div class="wikilegis-widget__action-box-input">
                        <span class="wikilegis-widget__span wikilegis-widget__span--action-box-input">Escreva um comentário:</span>
                        <textarea onkeydown="auto_grow(this)" class="wikilegis-widget__input wikilegis-widget__input--textarea" name="" id="" placeholder="Insira um comentário sobre esta proposta"></textarea>
                        <button class="wikilegis-widget__button wikilegis-widget__button--action-box" id="">Enviar</button>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div class="wikilegis-widget__action-box-input">
                  <span class="wikilegis-widget__span wikilegis-widget__span--action-box-input">Sugira uma nova emenda:</span>
                  <textarea onkeydown="auto_grow(this)" class="wikilegis-widget__input wikilegis-widget__input--textarea" name="" id="" placeholder="Escreva aqui uma nova emenda tomando a original como base"></textarea>
                  <button class="wikilegis-widget__button wikilegis-widget__button--action-box" id="">Enviar</button>
                </div>
              </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endblock content %}

  {% block extra_js %}
    <script>
      function updateActionGroupHTML(voteButton, data) {
        var actionGroup = voteButton.closest('.wikilegis-widget__actions--votes');
        actionGroup.html(data.html);
        actionGroup.find('.wikilegis-widget__action--vote').click(voteClick);
      }
      function voteClick() {
        var upvote = $(this).hasClass('wikilegis-widget__action--upvote');
        var voted = $(this).hasClass('voted');
        var voteButton = $(this);
        var segment = $(this.closest("[data-segment-id]"));
        var segmentId = segment.data('segment-id');
        var url = '{% url "widget_vote" 0 %}'.replace(0, segmentId);
        if ((voted && upvote) || (voted && !upvote)) {
          $.ajax({url: url,type: 'DELETE',
            success: function(data) {
              updateActionGroupHTML(voteButton, data);
            },
            statusCode: {403: function() {alert('loga aí cara!');}}
          })
        } else if (!voted && upvote) {
          $.ajax({url: url, type: 'POST', data: {vote: true},
            success: function(data) {
              updateActionGroupHTML(voteButton, data);
            },
            statusCode: {403: function() {alert('loga aí cara!');}}
          })
        } else if (!voted && !upvote) {
          $.ajax({url: url, type: 'POST', data: {vote: false},
            success: function(data) {
              updateActionGroupHTML(voteButton, data);
            },
            statusCode: {403: function() {alert('loga aí cara!');}}
          })
        }
      }
      $('.wikilegis-widget__action--vote').each(function() {
        $(this).click(voteClick)
      })
    </script>
  {% endblock extra_js %}