{% extends "base.html" %}

{% load static i18n %}
{% load social_utils %}
{% load render_materialized_field from wl_forms %}

{% block content %}
    <div class="row">

        <div class="container">
            
            <div class="login">

            <form action="./" method="POST">

                
                        <div class="white-text">
                            <div class="center-align">
                                {% include "_sidebar_logo.html" %}
                            </div>


                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                <div>
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            
                                <div class="w-input">
                                    {% render_materialized_field form.username %}
                                </div>
                                <div class="w-input">
                                    {% render_materialized_field form.password %}
                                </div>                                

                            <input type="hidden" name="next" value="{{ next }}" />

                            <div class="right-align">
                                {% if 'inactive' in form.errors.as_json %}
                                <a href="{% url 'resend_activation' %}" class="btn waves-effect waves-light" name="action">
                                    {% trans "Activate Account" %}
                                </a>
                                {% endif %}
                                <button class="btn wbtn waves-effect waves-light" type="submit" name="action">
                                    {% trans "Log in" %}
                                </button>
                            </div>
                        </div>
                        <div class="social">
                            {% for backend in backends.backends %}
                                    <a class="col-md-2 wbtn btn btn-default" id="{{ backend }}-button" name="{{ backend }}" href="{% url "social:begin" backend=backend %}">
                                        <img src="{% static backend|social_icon %}" />
                                        {% blocktrans with backend_name=backend|social_title %}Sign in with {{ backend_name }}{% endblocktrans %}
                                    </a>
                            {% endfor %}
                        </div>
                        <div class="card-action white-text">
                            <p>{% trans "Don't have an account?" %} <a href="{% url "registration_register" %}">{% trans "Sign up now!" %}</a></p>
                            <p>{% trans "Forgot your password?" %} <a href="{% url "auth_password_reset" %}">{% trans "Ask for a new one!" %}</a></p>
                        </div>
                </form>
            </div>
            
        </div>

        <div class="col s6 offset-s6">
            <div class="row">
                <div class="col s12 center-align">
                </div>
            </div>

            <div class="row">
                <div class="col s12">

                </div>

            </div>
        </div>
    </div>

{% endblock %}
