{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load social_utils %}

{% block content %}
    <div class="row">
        <div class="register">
                <div class="center-align">
                    {% include "_sidebar_logo.html" %}
                </div>
                <form action="./" method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="w-input">
                            {{ field.label_tag }}
                            {{ field }} 
                            {{ field.subject.errors }}
                        </div>
                    {% endfor %}


                    <button class="btn wbtn waves-effect waves-light" type="submit" name="action">
                        {% trans "Sign Up" %}
                    </button>


                    <div class="social">
                        {% for backend in backends.backends %}
                            <a class="col-md-2 wbtn btn btn-default" id="{{ backend }}-button" name="{{ backend }}" href="{% url "social:begin" backend=backend %}">
                                <img src="{% static backend|social_icon %}" />
                                {% blocktrans with backend_name=backend|social_title %}Sign in with {{ backend_name }}{% endblocktrans %}
                            </a>
                        {% endfor %}
                    </div>
                </form>
        </div>
    </div>
{% endblock %}
