<div
  class=""
  data-open="interactions"
  data-interactions="1"
  data-interactions-nav="1"
  role="button"
  tabindex="0"
>
  <i class="material-icons">child_friendly</i>
  <span class="">Ação 1</span>
</div>

<div
  class=""
  data-open="interactions"
  data-interactions="1"
  data-interactions-nav="2"
  role="button"
  tabindex="0"
>
  <i class="material-icons">free_breakfast</i>
  <span class="">Ação 2</span>
</div>

<div
  class=""
  data-open="interactions"
  data-interactions="1"
  data-interactions-nav="3"
  role="button"
  tabindex="0"
>
  <i class="material-icons">cake</i>
  <span class="">Ação 3</span>
</div>
