<div class="segment__actions--secondary">
  <a
    class="actions__link"
    data-collapsible="comments"
    data-comments="1"
    role="button"
    tabindex="0"
  >
    <i class="icon icon-comments"></i>
    <span class="">COMENTÁRIOS</span>
  </a>

  <a
    class="actions__link"
    href="#tab_edit"
    data-drawer-open="amendments"
    data-amendments="1"
    data-tab="1"
    data-tab-content="amendments"
    role="button"
    tabindex="0"
  >
    <i class="icon icon-pencil"></i>
    <span class="">EDIÇÃO</span>
  </a>

  <a
    class="actions__link"
    href="#tab_add"
    data-drawer-open="amendments"
    data-amendments="1"
    data-tab="2"
    data-tab-content="amendments"
    role="button"
    tabindex="0"
  >
    <i class="icon icon-plus"></i>
    <span class="">ADIÇÃO</span>
  </a>

  <a
    class="actions__link"
    href="#tab_remove"
    data-drawer-open="amendments"
    data-amendments="1"
    data-tab="3"
    data-tab-content="amendments"
    role="button"
    tabindex="0"
  >
    <i class="icon icon-trash"></i>
    <span class="">EXCLUSÃO</span>
  </a>
</div>
