<div class="segment__actions--secondary">
  <a
    class="actions__link--comments"
    data-collapsible="comments"
    data-collapsible-open="false"
    data-comments="{{segment.id}}"
    role="button"
    tabindex="0"
  >
    <i class="link__icon icon icon-comments"></i>
    <span class="link__text">COMENTÁRIOS (100)</span>
  </a>

  <a
    class="actions__link--edit"
    href="#tab_edit"
    data-drawer-open="amendments"
    data-amendments="{{segment.id}}"
    data-tab="1"
    data-tab-content="amendments"
    role="button"
    tabindex="0"
  >
    <i class="link__icon icon icon-pencil"></i>
    <span class="link__text">EDIÇÃO (100)</span>
  </a>

  <a
    class="actions__link--add"
    href="#tab_add"
    data-drawer-open="amendments"
    data-amendments="{{segment.id}}"
    data-tab="2"
    data-tab-content="amendments"
    data-hover="segment-add"
    role="button"
    tabindex="0"
  >
    <i class="link__icon icon icon-plus"></i>
    <span class="link__text">ADIÇÃO (100)</span>
  </a>

  <a
    class="actions__link--remove"
    href="#tab_remove"
    data-drawer-open="amendments"
    data-amendments="{{segment.id}}"
    data-tab="3"
    data-tab-content="amendments"
    role="button"
    tabindex="0"
  >
    <i class="link__icon icon icon-trash"></i>
    <span class="link__text">EXCLUSÃO (100)</span>
  </a>
</div>
