{% load comments i18n %}
{% load helpers %}

<form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}
        <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
    {% for field in form %}
        {% if field.name == "name" or field.name == "email" or field.name == "url" %}
            {% comment %}Ignore these fields. We only accept authenticated comments.{% endcomment %}
        {% else %}
            {% if field.is_hidden %}
                <div>{{ field }}</div>
            {% else %}
                {% if field.errors %}{{ field.errors }}{% endif %}
                <div class="input-field{% if field.errors %} error{% endif %}"
                        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                    {% call "core:render_field" field extra_classes="materialize-textarea" %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <p class="submit">
        <input type="submit" name="post" class="submit-post btn" value="{% trans "Post" %}"/>
        <input type="submit" name="preview" class="submit-preview btn" value="{% trans "Preview" %}"/>
    </p>
</form>