{% load static %}
{% load i18n %}
{% load auth2 %}

<div class="current-user">
    {% if user.is_authenticated %}
        <div class="panel-card">
            <div class="card-content">
                <div class="row valign-wrapper">
                    <!-- <div style="width: 40px">
                        <img src="{% static "img/user.png" %}" alt="" class="circle responsive-img">
                    </div> -->
                    <div class="col s12">
                        <span class="card-title"><a href="{% url 'edit_profile' %}">{% include "auth2/_user_display_name.html" %}</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-buttonLogout">
            <a href="{% logout_absolute_path request %}">{% trans "Log out" %}</a>
        </div>
    {% else %}
        <div class="panel-card">
            <div class="card-content">
                <a href="{% url "auth_login" %}">{% trans "Log in" %}</a>
                {% trans "or" %}
                <a href="{% url "registration_register" %}">{% trans "Sign up" %}</a>
            </div>
        </div>
    {% endif %}
</div>
