{% extends "base_with_sidebar.html" %}
{% load thumbnail %}
{% load static %}
{% load i18n %}
{% load render_materialized_field from wl_forms %}

{% block content2 %}
    <div class="container">
        <div class="col s11 m6 edit-profile">
            
            <h4>{% trans 'Edit profile' %}</h4>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="input-field picture">
                        {{ form.cropping }}
                        {% render_materialized_field form.avatar %}
                </div>

                <div class="input-field">
                    {% render_materialized_field form.id_congressman %}
                    <p class="help">{{ form.id_congressman.help_text }}</p>
                </div>

                <div class="input-field">
                    {% render_materialized_field form.first_name %}
                </div>

                <div class="input-field">
                    {% render_materialized_field form.last_name %}
                </div>                

                <div class="input-field">
                    <button class="btn wbtn dark waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block partialscript %}
    <!-- rofl form media -->
    {{ form.media }}
{% endblock %}