{% extends "base_with_sidebar.html" %}
{% load cropping %}
{% load static %}
{% load i18n %}
{% load render_materialized_field from wl_forms %}

{% block content2 %}
    <div class="col s9 edit-profile show-profile">
        <ul>
            <div class="row">
                <img src="{% cropped_thumbnail user "cropping" scale=2 %}">
            </div>
            <div class="row">
                <h3>{{ user.get_display_name }}</h3>
                <div><strong>Email: </strong>{{ user.email }}</div>
                <div><strong>Começou em: </strong>{{ user.date_joined }}</div>
            </div>
        </ul>
    </div>
{% endblock %}