{% load static %}
{% load i18n %}

<div class="current-user">
    {% if user.is_authenticated %}
        <div class="card-panel grey lighten-2">
            <div class="card-content black-text">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="{% static "img/user.png" %}" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s9">
                        <span class="card-title">{% include "auth2/_user_display_name.html" %}</span>
                        <a href="{% url "auth_logout" %}">{% trans "Log out" %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card-panel grey lighten-2">
            <div class="card-content black-text">
                <a href="{% url "auth_login" %}">{% trans "Log in" %}</a>
                {% trans "or" %}
                <a href="{% url "registration_register" %}">{% trans "Sign up" %}</a>
            </div>
        </div>
    {% endif %}
</div>
