.segment__actions--primary {
  align-items: center;
  display: flex;
  flex: 1 auto;
  justify-content: space-between;
  min-width: 3em;

  [class^="actions__vote"] {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .actions__vote--thumbs-up {
    margin-right: 0.25em;
  }

  .vote__count {
    font-size: .7em;
  }
}

.segment__actions--secondary {
  display: flex;
  flex-wrap: wrap;

  [class^="actions__link"] {
    align-items: center;
    color: $color-gray-75;
    cursor: pointer;
    display: flex;
    font-size: 0.9em;
    font-weight: 700;
    justify-content: center;
    outline: none;
    padding: .5em 1em;
    position: relative;
    text-decoration: none;
    transition: background-color .3s $swift-out, color .3s $swift-out;

    &:hover {
      color: $color-white;
    }

    * { pointer-events: none; }
  }

  .actions__link--comments {

    &:hover {
      background-color: $color-actions-comments;
    }

    &[data-collapsible-open="true"] {
      background-color: $color-actions-comments;
      color: $color-white;
      outline: none;
    }

    &::after {
      border-bottom: 1em solid transparent;
      border-left: 1em solid transparent;
      border-right: 1em solid transparent;
      bottom: -0.8em;
      content: '';
      height: 0;
      pointer-events: none;
      position: absolute;
      transform: translateY(200%);
      width: 0;
      transition: all .3s 0s $swift-out;
      z-index: 0;
    }

    &[data-collapsible-open="true"]::after {
      border-bottom: 1em solid $color-actions-comments;
      transform: translateY(100%);
      transition: all .3s .3s $swift-out;
    }
  }

  .actions__link--edit:hover { background-color: $color-actions-edit; }
  .actions__link--add:hover { background-color: $color-actions-add; }
  .actions__link--remove:hover { background-color: $color-actions-remove; }



  .link__icon {
    align-items: center;
    display: flex;
    margin-right: .5em;
  }
}
