.segment__comments-wrapper {
  height: 0;
  overflow-y: hidden;
  transition: height .5s $swift-out;
}

.segment__comments {
  list-style-type: none;
  padding-top: 1em;
}

.comments__item {
  align-items: center;
  background-color: $color-white;
  display: flex;
  padding: 1em 1.5em;

  + .comments__item {
    margin-top: .5em;
  }

  .item__avatar {
    flex: 0;
    margin-right: 1.5em;
  }

  .item__content {
    flex: 1;
  }

  .avatar__img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .content__author {
    margin: 0;
  }

  .content__text {
    margin: 0;
  }

  .content__created {
    display: block;
    font-size: .8em;
    text-align: right;
  }
}
