.segment {
  display: flex;
  flex-direction: column;
  position: relative;

  + .segment {
    margin-top: .5em;
  }
}

.segment__section-top {
  background-color: $color-white;
  box-shadow: 0 1px 2px $color-shadow-1;
  display: flex;
  padding: 0 .7em;

  &--uneditable {
    background-color: transparent;
  }
}

.section-top__section-left {
  align-items: center;
  display: flex;
  margin: .7em 1.5em .7em 0;
}

.section-top__section-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-top: .7em;
}

.segment__text {
  margin: 0;
  padding-bottom: .5em;
  padding-left: .5em;
}
