.wikilegis__alert {
  animation: slide-in 0.3s $swift-out;
  box-sizing: border-box;
  color: $color-white;
  margin: 2em 5em 2em 2em;
  max-width: 100%;
  min-height: 7em;
  padding: 0 1em;
  position: fixed;
  right: 0;
  top: 0;
  width: 35em;
  z-index: 10;

  @include breakpoint($medium-down) {
    max-width: initial;
    width: calc(100% - 2em);
    margin: 1em;
    top: 2.5rem;
  }

  .alert__header {
    font-size: 1.5em;
  }

  .alert__dismiss {
    color: $color-white;
    cursor: pointer;
    padding: 0.5em;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
  }

  &.success {
    background: $color-alert-success;
  }

  &.error {
    background: $color-alert-error;
  }

  a {
    color: white;
    font-weight: 700;
  }
}
