.segment__comments-wrapper,
.amendment__comments-wrapper {
  height: 0;
  overflow-y: hidden;
  transition: height .5s $swift-out;
}

.segment__comments,
.amendment__comments {
  list-style-type: none;
  padding-left: 2em;
  padding-top: 1.5em;
  position: relative;

  &::after {
    border-bottom: .75em solid $color-white;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    content: '';
    height: 0;
    left: 4em;
    position: absolute;
    top: 1.5em;
    transform: translateY(-100%);
    width: 0;
  }
}

.comments__item {
  align-items: center;
  background-color: $color-white;
  display: flex;
  padding: 1em 1.5em;

  + .comments__item {
    border-top: 1px solid $color-gray-75;
  }

  &:last-of-type {
    border-bottom: 1px solid $color-gray-75;
  }

  .item__avatar {
    flex: 0;
    margin-right: 1.5em;
  }

  .item__content {
    flex: 1;
  }

  .avatar__img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .content__author {
    margin: 0;
  }

  .content__text {
    margin: 0;
  }

  .content__created {
    display: block;
    font-size: .8em;
    text-align: right;
  }
}

.comments__form {
  background-color: $color-white;
  display: flex;
  height: 3em;
  padding: 1em;

  .form__input {
    background-color: $color-gray-95;
    border: 0;
    flex: 1;
    outline: none;
    padding-left: 1em;
  }

  .form__btn {
    background-color: $color-accent;
    border: 0;
    color: $color-white;
    padding: 0 1em;
  }
}
