[class^="actions__vote"] {
  color: $color-gray-55;
  cursor: pointer;
  outline: none;
  transition: color 0.3s $swift-out;
}

.actions__vote--thumbs-up {

  &:hover,
  &:focus,
  &.voted {
    color: $color-accent;
  }

}

.actions__vote--thumbs-down {

  &:hover,
  &:focus,
  &.voted {
    color: $color-alert-error;
  }

}
