{% load comments i18n %}
{% load render_materialized_field from wl_forms %}

<form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}
        <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
    {% for field in form %}
        {% if field.name == "name" or field.name == "email" or field.name == "url" %}
            {% comment %}Ignore these fields. We only accept authenticated comments.{% endcomment %}
        {% else %}
            {% if field.is_hidden %}
                <div>{{ field }}</div>
            {% elif field.name == "comment" %}
                <div class="comment-textarea {% if field.errors %} error{% endif %}">
                    <textarea class="materialize-textarea" cols="40" id="id_comment"
                    placeholder="Escreva um comentário" maxlength="3000" name="comment" rows="10"></textarea>
                </div>

            {% else %}
                {% if field.errors %}{{ field.errors }}{% endif %}
                <div class="comment-textarea {% if field.errors %} error{% endif %}"
                        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>

                    {% render_materialized_field field extra_classes="materialize-textarea" %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <p class="submit">
        <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}"/>
    </p>
</form>