{% load static %}

<ul class="comments collapsible-comments" data-show="3">
    {% for comment in comment_list %}
        <li class="avatar collapsible-comments-item" id="c{{ comment.id }}">
            <span>
                {{ comment.comment }}
            </span>
             - 
          <span class="title"><span class="comment-name"><a href="{% url 'users_profile' comment.user.pk %}">{{ comment.name }}</a></span><span class="comment-submit-date"> em {{ comment.submit_date }}</span></span>
        </li>
    {%  endfor %}
    {% if not readonly %}
    <li class="avatar">
        {% include "comments2/_comment_form.html" %}
    </li>
    {% endif %}
</ul>
