{% load static i18n %}

<ul class="comments collapsible-comments" data-show="3">
    {% for comment in comment_list %}

        <li class="avatar collapsible-comments-item" id="c{{ comment.id }}">
           {% trans "By" %}
        <span class="title"><span class="comment-name">{{ comment.user }}</span><span class="comment-submit-date"> - {{ comment.submit_date }}</span></span>
            <div class="collapsible-comments-comment">
                {{ comment.comment }}
            </div>

        </li>
    {% empty %}
    <span class="no-comments">{% trans "No comments yet. Be the first to comment!" %}</span>
    {%  endfor %}
    {% if not readonly %}
    <li class="avatar">
        {% include "comments2/_comment_form.html" %}
    </li>
    {% endif %}
</ul>
